Repository rancher/dashboard, pull requests merged in 2021-02, with the labels that each got.

#2265 Make presentation of the user menu more consistent with the rest of the UI
  components/nav/Header.vue
Labels: [zube]: Review

#2247 Add Users & Auth / Groups page, assign Global Roles to Groups
  assets/translations/en-us.yaml
  components/GlobalRoleBindings.vue
  components/auth/SelectPrincipal.vue
  components/form/Checkbox.vue
  components/formatter/Principal.vue
  components/formatter/PrincipalGroupBindings.vue
  config/product/auth.js
  config/table-headers.js
  config/types.js
  edit/group.principal.vue
  list/group.principal.vue
  models/group.principal.js
  models/management.cattle.io.globalrolebinding.js
  pages/c/_cluster/auth/group.principal/assign-edit.vue
  plugins/steve/actions.js
Labels: [zube]: Review

#2240 Implementing AzureAD auth
  config/product/auth.js
  edit/auth/azuread.vue
  mixins/auth-config.js
  nuxt.config.js
  plugins/steve/actions.js
  plugins/steve/resource-instance.js
  server/no-ssr.js
  server/server-middleware.js
  store/auth.js
  utils/auth.js
  utils/window.js
Labels: status/waiting-backend

#2337 Prevent Auth Provider side-nav navigation if it's a no-op
  pages/c/_cluster/auth/config/_id.vue
  pages/c/_cluster/auth/config/index.vue
  utils/auth.js
Labels: [zube]: Review

#2368 Improve create HPA workload select
  config/types.js
  edit/autoscaling.horizontalpodautoscaler/index.vue
Labels: [zube]: Review

#2325 Filter ownerReferences to standard kinds
  list/workload.vue
  models/workload.js
Labels: team/ui
