Repository rancher/dashboard, pull requests merged in 2022-07, with the labels that each got.

#6338 Plugin in explorer scoped
  shell/middleware/authenticated.js
  shell/store/index.js
  shell/store/type-map.js
Labels: kind/bug, [zube]: Review, status/dev-validate

#6355 add tooltip to fleet cluster labels editor title with appropriate copy
  shell/assets/translations/en-us.yaml
  shell/components/form/Labels.vue
  shell/edit/fleet.cattle.io.cluster.vue
Labels: kind/bug, area/fleet, JIRA

#6369 fix for broken namespace selector on fleet
  shell/utils/width.js
Labels: area/fleet, kind/bug-qa

#6367 provide interface to edit node name (custom name) for RKE1 nodes
  shell/assets/translations/en-us.yaml
  shell/edit/management.cattle.io.node.vue
  shell/models/management.cattle.io.node.js
Labels: kind/bug, priority/1, size/3, JIRA

#6451 minor fix to prevent Vue warning on console on User Preferences
  shell/pages/prefs.vue
Labels: kind/bug
