Repository rancher/dashboard, pull requests merged in 2022-08, with the labels that each got.

#6568 fix azure warning banner link
  shell/components/auth/AzureWarning.vue
Labels: v2.6.7

#6567 do not assume ec2 vpc obj have Tags
  shell/machine-config/amazonec2.vue
Labels: v2.6.7

#6527 When adding alerting rule, provide a default namespace label
  shell/edit/monitoring.coreos.com.prometheusrule/GroupRules.vue
Labels: v2.6.7

#6563 Add in web-worker again, fix chrome in `-head` builds
  package.json
  shell/components/nav/Header.vue
  shell/nuxt.config.js
  shell/package.json
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/index.js
  shell/plugins/steve/actions.js
  shell/plugins/steve/index.js
  shell/plugins/steve/mutations.js
  shell/plugins/steve/subscribe.js
  shell/plugins/steve/web-worker.steve-sub-worker.js
  yarn.lock
Labels: v2.6.7

#6586 Fleet: Fix empty workspace filter on first login
  shell/middleware/authenticated.js
Labels: area/fleet, kind/bug-qa, v2.6.7

#6543 Incremental loading and manual refresh features
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/translations/en-us.yaml
  shell/components/AsyncButton.vue
  shell/components/PercentageBar.vue
  shell/components/ResourceList/Masthead.vue
  shell/components/ResourceList/ResourceLoadingIndicator.vue
  shell/components/ResourceList/index.vue
  shell/components/SortableTable/index.vue
  shell/components/formatter/LinkName.vue
  shell/config/product/explorer.js
  shell/config/product/settings.js
  shell/config/settings.js
  shell/list/workload.vue
  shell/mixins/resource-fetch.js
  shell/pages/c/_cluster/settings/performance.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/getters.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/steve/mutations.js
  shell/store/resource-fetch.js
Labels: kind/tech-debt, area/performance, v2.6.7

#6587 Group up GHA config under test; Remove push cases
  .github/workflows/test.yaml
  .github/workflows/unit-test-lint.yaml
Labels: area/test, kind/tech-debt

#6570 Fix multiple related issues surrounding projects/namespace filters and lists updating
  shell/components/ResourceTable.vue
  shell/layouts/default.vue
  shell/models/management.cattle.io.project.js
  shell/pages/c/_cluster/_product/projectsnamespaces.vue
  shell/store/index.js
Labels: v2.6.7

#6589 fix issue for multiple resource counts on resource-fetch mixin
  shell/mixins/resource-fetch.js
Labels: kind/bug, v2.6.7

#6529 Remove unneeded API call to get projects from local cluster
  shell/models/management.cattle.io.project.js
Labels: v2.6.7

#6506 Improve initial load of Home and Cluster Dashboard pages
  shell/layouts/default.vue
  shell/middleware/authenticated.js
  shell/pages/c/_cluster/explorer/EventsTable.vue
  shell/pages/c/_cluster/explorer/index.vue
  shell/pages/home.vue
  shell/utils/promise.js
Labels: v2.6.7

#6603 Create `diagnostic` page
  shell/assets/translations/en-us.yaml
  shell/nuxt.config.js
  shell/pages/about.vue
  shell/pages/diagnostic.vue
  shell/plugins/console.js
Labels: kind/enhancement, area/performance, v2.6.7

#6449 initial content for 2.6.7
  shell/content/docs/en-us/whats-new.md
Labels: v2.6.7

#6312 [Epinio] Redirects to the correct route after removing an application
  .github/workflows/check-plugins.yaml
  .github/workflows/test.yaml
  pkg/epinio/models/applications.js
  shell/components/PromptRemove.vue
Labels: area/epinio

#6538 [Epinio] Limits the files format of the file allowed to be uploaded
  pkg/epinio/components/application/AppSource.vue
  shell/components/form/FileSelector.vue
Labels: area/epinio

#6626 [Epinio] Allow app logs to re-supply socket url on re-connect
  pkg/epinio/windowComponents/ApplicationLogs.vue
  shell/utils/socket.js
Labels: area/epinio

#6668 Port ToggleSwitch to @rancher/components
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.vue
  pkg/rancher-components/src/components/Form/ToggleSwitch/index.ts
  pkg/rancher-components/src/components/Form/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/edit/provisioning.cattle.io.cluster/index.vue
Labels: v2.7.0

#6698 prevent links prefetch on nuxt-link
  shell/nuxt.config.js
Labels: kind/tech-debt, area/performance, v2.7.0

#6700 allow for console.log and console.info to have correct traceability on dev mode
  shell/plugins/console.js
Labels: kind/bug, area/performance, v2.7.0
