Repository rancher/dashboard, pull requests merged in 2022-09, with the labels that each got.

#6756 Shows fetched value for the default builder
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/pages/c/_cluster/applications/createapp/index.vue
  pkg/epinio/types.ts
Labels: area/epinio

#6853 Only attempt to create namespace if it does not already exist
  shell/components/CruResource.vue
Labels: [zube]: Review

#7009 Allow to generate new yarn.lock by reviewing version
  package.json
  pkg/epinio/package.json
  pkg/harvester/edit/kubevirt.io.virtualmachine/VirtualMachineVolume/type/__tests__/HarvesterEditExisting.test.ts
  pkg/harvester/package.json
  pkg/rancher-components/package.json
  shell/edit/workload/__tests__/Upgrading.test.ts
  shell/utils/__tests__/object.test.ts
  shell/utils/__tests__/selector.test.ts
  yarn.lock
Labels: area/harvester, kind/tech-debt, area/upgrade, area/components, area/plugins, area/linting, area/epinio
