Repository rancher/dashboard, pull requests merged in 2022-01, with the labels that each got.

#4100 Add ability to delete CRD associated with App in Cluster Tools explorer
  assets/translations/en-us.yaml
  components/PromptRemove.vue
  models/catalog.cattle.io.app.js
Labels: [zube]: Review

#4882 Add input for droplet tags on DigitalOcean rke2 clusters
  assets/translations/en-us.yaml
  machine-config/digitalocean.vue
Labels: kind/enhancement

#4997 Switch isYamlCreatable action for masthead component
  components/ResourceList/Masthead.vue
Labels: [zube]: Review

#4968 Scale down specific RKE2 machine
  assets/translations/en-us.yaml
  components/dialog/GenericPrompt.vue
  components/dialog/ScaleMachineDownDialog.vue
  config/labels-annotations.js
  detail/provisioning.cattle.io.cluster.vue
  models/cluster.x-k8s.io.machine.js
  models/cluster.x-k8s.io.machinedeployment.js
  models/provisioning.cattle.io.cluster.js
Labels: [zube]: To Triage, team/area2

#4981 HARVESTER: Add ipam on create workload page
  components/HarvesterServiceAddOnConfig.vue
  components/form/WorkloadPorts.vue
  config/labels-annotations.js
  models/workload.js
Labels: [zube]: To Triage, area/harvester, team/area2

#4925 Add support Linode rke2/k3s provisioning
  machine-config/linode.vue
  store/linode.js
Labels: [zube]: To Triage, team/area2
