Repository rancher/dashboard, pull requests merged in 2022-12, with the labels that each got.

#7329 Enforce Namespace Filter
  package.json
  shell/assets/translations/en-us.yaml
  shell/components/ResourceList/Masthead.vue
  shell/components/ResourceList/ResourceLoadingIndicator.vue
  shell/components/ResourceList/index.vue
  shell/components/ResourceTable.vue
  shell/components/SortableTable/index.vue
  shell/components/__tests__/NamespaceFilter.test.ts
  shell/components/nav/NamespaceFilter.vue
  shell/config/settings.ts
  shell/list/__tests__/workload.test.ts
  shell/list/catalog.cattle.io.app.vue
  shell/list/cis.cattle.io.clusterscan.vue
  shell/list/fleet.cattle.io.bundle.vue
  shell/list/fleet.cattle.io.cluster.vue
  shell/list/fleet.cattle.io.clusterregistrationtoken.vue
  shell/list/fleet.cattle.io.gitrepo.vue
  shell/list/helm.cattle.io.projecthelmchart.vue
  shell/list/logging.banzaicloud.io.clusterflow.vue
  shell/list/logging.banzaicloud.io.flow.vue
  shell/list/management.cattle.io.cluster.vue
  shell/list/management.cattle.io.feature.vue
  shell/list/management.cattle.io.user.vue
  shell/list/monitoring.coreos.com.alertmanagerconfig.vue
  shell/list/node.vue
  shell/list/persistentvolume.vue
  shell/list/persistentvolumeclaim.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/list/service.vue
  shell/list/workload.vue
  shell/mixins/resource-fetch-namespaced.js
  shell/mixins/resource-fetch.js
  shell/package.json
  shell/pages/c/_cluster/settings/performance.vue
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/getters.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/steve/getters.js
  shell/plugins/steve/mutations.js
  shell/store/index.js
  yarn.lock
Labels: [zube]: Review

#7373 Add pr to docs workflow trigger
  .github/workflows/docusaurus.yaml
Labels: kind/tech-debt

#7642 [rancher-components] fix lint warnings
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.test.ts
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  pkg/rancher-components/src/components/Form/ToggleSwitch/ToggleSwitch.test.ts
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
  pkg/rancher-components/src/index.ts
Labels: status/dev-validate, area/linting

#7639 fix Delete button when trying to delete users
  shell/mixins/browser-tab-visibility.js
Labels: area/user

#7681 String List, remove text wrap
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components

#7667 Window Manager, fix bottom actions layout
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/components/nav/WindowManager/Window.vue
Labels: kind/bug, area/ui

#7296 Add tags to Azure machine pool config
  shell/assets/translations/en-us.yaml
  shell/machine-config/azure.vue
Labels: [zube]: Review

#7723 Select Member, add tooltip
  shell/components/auth/SelectPrincipal.vue
  shell/components/form/LabeledSelect.vue
  shell/components/form/Members/ClusterPermissionsEditor.vue
Labels: area/ui

#7711 duration field live refresh
  shell/components/formatter/LiveDuration.vue
  shell/config/table-headers.js
  shell/models/batch.job.js
  shell/utils/time.js
Labels: area/ui

#7742 Secrets, remove empty rows after a file upload
  shell/components/form/KeyValue.vue
Labels: area/ui, area/secret

#7741 Charts, handle chart-mode as a preference
  shell/pages/c/_cluster/apps/charts/index.vue
  shell/store/prefs.js
Labels: area/ui, area/charts

#7739 Terminal, limit drag&drop to tabs bar
  shell/components/nav/WindowManager/index.vue
  shell/layouts/default.vue
Labels: area/dashboard, area/ui

#7665 Namespaces filter, select on keydown Enter
  shell/components/nav/NamespaceFilter.vue
Labels: area/ui

#7706 Remove unused pvcs request from ContainerMountPaths
  shell/edit/workload/storage/ContainerMountPaths.vue
Labels: kind/bug

#7771 Storybook: Ensure we install dependencies at top level
  .github/workflows/scripts/publish-storybook
  .github/workflows/storybook-check.yaml
  .github/workflows/storybook.yaml
Labels: status/dev-validate

#7780 Storybook: Fix publish script
  .github/workflows/scripts/publish-storybook
Labels: status/dev-validate

#7733 Only show explore button when in detail view
  shell/components/ResourceDetail/Masthead.vue
Labels: status/dev-validate
