Repository rancher/dashboard, pull requests merged in 2022-11, with the labels that each got.

#7326 StringList, new component
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
  pkg/rancher-components/src/components/StringList/index.ts
  pkg/rancher-components/src/index.ts
  pkg/rancher-components/types/index.d.ts
  shell/utils/array.ts
Labels: kind/enhancement, area/ui, area/components

#7339 pkg/rancher-components build fails
  pkg/rancher-components/package.json
  pkg/rancher-components/vue.config.js
  yarn.lock
Labels: area/components

#7343 Add script to update docker image
  docusaurus/docs/getting-started/development_environment.md
  scripts/update-docker-image
Labels: kind/tech-debt

#7347 StringList.vue, avoid empty items
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components, bug

#7354 Bump @rancher/components version
  pkg/rancher-components/package.json
Labels: area/components

#7360 remove @input event from v-select
  shell/components/form/Select.vue
  shell/components/form/__tests__/MatchExpressions.test.ts
Labels: kind/tech-debt

#7408 StringList - Commit changes when losing focus
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components

#7418 Bump @rancher/components version
  pkg/rancher-components/package.json
Labels: area/components

#7321 Updating docs for kube resources data loading optimisation on dashboard
  docusaurus/docs/code-base-works/kubernetes-resources-data-load.md
  docusaurus/sidebars.js
Labels: kind/enhancement, area/documentation

#7453 fix advanced filtering issue
  package.json
  shell/components/SortableTable/filtering.js
  shell/package.json
Labels: kind/bug

#7098 Fix Multiline file upload in Secret edit page
  shell/edit/secret/generic.vue
Labels: area/ui, bug

#7262 component: SelectPrincipal
  shell/components/auth/SelectPrincipal.vue
Labels: area/ui, bug

#7297 Sortable Table: prevent sort icons wrap
  shell/components/SortableTable/THead.vue
Labels: area/ui

#7359 StringList, add unit tests
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components

#7456 unit tests: Collapse, SimpleBox
  shell/components/Collapse.vue
  shell/components/SimpleBox.vue
  shell/components/__tests__/Collapse.spec.ts
  shell/components/__tests__/SimpleBox.spec.ts
Labels: area/test

#7458 storybook
  stories/components/Collapse.stories.mdx
  stories/components/SimpleBox.stories.mdx
  stories/components/form/ButtonDropdown.stories.mdx
Labels: area/storybook

#7267 component: CruResource
  shell/components/CruResource.vue
Labels: area/ui, bug

#7173 ui:Job List, fix Duration field sorting
  shell/assets/translations/en-us.yaml
  shell/config/product/explorer.js
  shell/config/table-headers.js
  shell/models/batch.job.js
  shell/store/type-map.js
  shell/utils/time.js
Labels: area/ui

#7047 NamespaceFilter: add Enter shortcut
  shell/components/nav/NamespaceFilter.vue
Labels: kind/enhancement, area/ui

#7147 Configure Shell/Terminal location
  pkg/rancher-components/src/components/Utils/DraggableZone/DraggableZone.vue
  pkg/rancher-components/src/components/Utils/DraggableZone/index.ts
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/translations/en-us.yaml
  shell/components/nav/WindowManager/ContainerShell.vue
  shell/components/nav/WindowManager/index.vue
  shell/layouts/default.vue
  shell/store/wm.js
Labels: kind/design, kind/enhancement, area/ui

#7298 AddProjectMemberDialog: add bottom border
  shell/dialog/AddProjectMemberDialog.vue
Labels: [zube]: To Triage, area/ui

#7394 String List, add story
  stories/components/Collapse.stories.mdx
  stories/components/StringList.stories.mdx
  stories/global.scss
Labels: area/components

#7497 Login errors not being displayed for LDAP Active Directory login
  shell/components/auth/login/ldap.vue
  shell/pages/auth/login.vue
Labels: kind/bug, area/authentication

#7529 StringList, type:item event
  pkg/rancher-components/src/components/StringList/StringList.test.ts
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components

#7531 Bump @rancher/components version
  pkg/rancher-components/package.json
Labels: area/components

#7532 update package.lock
  yarn.lock
Labels: dependencies

#7358 remove secondary data config from the data prop
  shell/edit/persistentvolume/index.vue
  shell/edit/persistentvolumeclaim.vue
  shell/edit/workload/mixins/workload.js
Labels: kind/tech-debt

#7420 Unit testing components
  shell/components/ButtonGroup.vue
  shell/components/GrowlManager.vue
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/BackLink.test.ts
  shell/components/__tests__/ButtonGroup.test.ts
  shell/components/__tests__/ClusterBadge.test.ts
  shell/components/__tests__/CollapsibleCard.test.ts
  shell/components/__tests__/ConsumptionGauge.test.ts
  shell/components/__tests__/FixedBanner.test.ts
  shell/components/__tests__/GrowlManager.test.ts
  shell/components/__tests__/PercentageBar.test.ts
Labels: area/test

#7365 update url for namespaced requests for secondary data
  shell/edit/workload/storage/persistentVolumeClaim/index.vue
  shell/mixins/resource-manager.js
Labels: kind/tech-debt

#7302 Add mechanism to hide the locale picker on the home page
  .github/workflows/release-rancher-epinio-standalone.yml
  .github/workflows/scripts/build-dashboard.sh
  shell/nuxt.config.js
  shell/pages/auth/login.vue
Labels: area/epinio

#7261 Adds most common architecture for macOS & linux
  pkg/epinio/pages/about.vue
Labels: area/epinio

#7565 [StringList] delete pattern on editing
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components

#7576 Bump @rancher/components version
  pkg/rancher-components/package.json
  pkg/rancher-components/src/components/StringList/StringList.vue
Labels: area/components

#7563 workloads rollback fix
  shell/dialog/RollbackWorkloadDialog.vue
  shell/models/apps.controllerrevision.js
  shell/models/apps.daemonset.js
  shell/models/apps.deployment.js
  shell/models/apps.replicaset.js
  shell/models/apps.statefulset.js
  shell/models/workload.js
Labels: area/ui

#7578 CI, add steps for rancher-components
  .github/workflows/rancher-components.yaml
Labels: area/ci
