Repository rancher/dashboard, pull requests merged in 2022-05, with the labels that each got.

#5791 Editing Secret object in Rancher UI corrupting binary data
  components/form/KeyValue.vue
  components/form/__tests__/KeyValue.test.ts
Labels: kind/bug, internal, priority/1

#5817 Fix subrow chevron direction when expanded
  components/SortableTable/index.vue
Labels: kind/bug, [zube]: Review

#5822 Add pod restarts header to workload list views
  config/product/explorer.js
Labels: internal

#5919 Can't create an Opaque secret using plain text as value (2.6.5 branch)
  components/form/KeyValue.vue
Labels: kind/bug, status/release-blocker

#5918 Can't create an Opaque secret using plain text as value
  shell/components/form/KeyValue.vue
Labels: kind/bug, status/release-blocker

#5835 Accessibility: setting HTML page language
  shell/store/i18n.js
Labels: area/accessibility, size/1

#5901 Shift + click behavior to select multiple items in lists is buggy
  shell/components/SortableTable/selection.js
Labels: priority/0, kind/bug-qa, size/2

#5973 `Save RKE Template` option is seen for a Std user who is cluster owner
  shell/detail/provisioning.cattle.io.cluster.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/models/provisioning.cattle.io.cluster.js
Labels: kind/bug, size/1

#5976 resourceQuota: Address issue where removing existing quotas wasn't being reflected on the saved obj
  shell/edit/management.cattle.io.project.vue
  shell/models/management.cattle.io.project.js
  shell/plugins/dashboard-store/resource-class.js
Labels: kind/bug, internal, priority/1, area/project-quota, size/2, JIRA

#6029 Project Member View not rendering search results properly
  shell/assets/styles/base/_variables.scss
  shell/components/nav/Header.vue
Labels: status/blocker, internal
