Repository rancher/dashboard, pull requests merged in 2022-10, with the labels that each got.

#6996 ui: fix PVC Summary card height
  shell/edit/persistentvolume/index.vue
Labels: area/ui

#7111 Hide experimental charts from Cluster Tools
  shell/pages/c/_cluster/explorer/tools/index.vue
Labels: status/dev-validate

#6723 Handle rests of the state when moving between steps
  pkg/epinio/components/application/AppSource.vue
  shell/components/form/GithubPicker.vue
Labels: area/epinio

#6865 Saves configuration when adding new applications
  pkg/epinio/edit/services.vue
Labels: area/epinio

#7011 Adds a default return to home when no route history
  shell/components/BackLink.vue
Labels: area/epinio

#7209 Ensure correct services are shown bound to apps
  pkg/epinio/models/applications.js
Labels: area/epinio

#7215 [Epinio] Fix Namespace Filter
  shell/store/index.js
Labels: area/epinio

#7237 Can use RKE1 cluster scoped registry for Helm chart installs
  shell/assets/translations/en-us.yaml
  shell/models/management.cattle.io.cluster.js
  shell/pages/c/_cluster/apps/charts/install.vue
Labels: [zube]: Review

#7284 add mode to inputs in order to disable ui elements if user doesnt hav…
  shell/pages/c/_cluster/settings/performance.vue
Labels: kind/bug

#7289 fix: handles default & custom routes
  pkg/epinio/models/applications.js
Labels: area/epinio

#7228 Clarify setup for E2E in documentation
  docusaurus/docs/testing/e2e-test.md
Labels: area/test, area/documentation
