Repository rancher/dashboard, pull requests merged in 2022-06, with the labels that each got.

#5992 Cluster Manager and Cluster Dashboard show different age for same cluster
  shell/components/ResourceDetail/Masthead.vue
  shell/config/table-headers.js
  shell/models/provisioning.cattle.io.cluster.js
  shell/plugins/dashboard-store/resource-class.js
Labels: kind/bug, internal, size/3, JIRA

#5972 `Steve` DNS related resource types can cause confusion
  shell/config/product/explorer.js
  shell/config/types.js
Labels: size/0.5

#6008 Multiple issues in Fleet (Dashboard and gitRepo Graph views)
  shell/models/fleet.cattle.io.bundle.js
  shell/pages/c/_cluster/fleet/GitRepoGraphConfig.js
  shell/plugins/dashboard-store/resource-class.js
Labels: kind/bug, area/fleet

#5872 UI expired session doesn't redirect us to the login page
  shell/layouts/default.vue
  shell/layouts/home.vue
  shell/layouts/plain.vue
  shell/mixins/browser-tab-visibility.js
  shell/store/index.js
Labels: internal, size/3

#6169 Show more headers in workload pods list (including age)
  shell/detail/workload/index.vue
Labels: internal
