Repository rancher/dashboard, pull requests merged in 2023-06, with the labels that each got.

#9022 Align theme of loading indicator page with dashboard theme
  shell/public/index.html
Labels: QA/None

#9023 Two Build Related Tweaks
  shell/config/router.js
  shell/vue.config.js
Labels: QA/None

#8970 [UI] Export manifest as Yaml file
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/models/applications.js
  pkg/epinio/utils/application.ts
Labels: area/epinio

#9008 Move /epinio/about to /:product/c/:cluster/about
  pkg/epinio/config/epinio.ts
  pkg/epinio/pages/c/_cluster/about.vue
  pkg/epinio/routing/epinio-routing.ts
Labels: area/epinio

#9010 Add catalog list/loading for air-gapped extensions
  cypress/e2e/po/pages/extensions.po.ts
  docusaurus/docs/extensions/advanced.md
  docusaurus/docs/extensions/advanced/air-gapped-environments.md
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/screenshots/available-charts.png
  docusaurus/docs/extensions/screenshots/import-catalog-dialog.png
  docusaurus/docs/extensions/screenshots/manage-catalog-action.png
  docusaurus/docs/extensions/screenshots/navigate-chart-list.png
  docusaurus/sidebars.js
  shell/assets/translations/en-us.yaml
  shell/components/ActionMenu.vue
  shell/components/formatter/ExtensionCache.vue
  shell/config/table-headers.js
  shell/config/uiplugins.js
  shell/creators/pkg/files/.github/workflows/build-container.yml
  shell/creators/pkg/init
  shell/pages/c/_cluster/uiplugins/CatalogList/CatalogLoadDialog.vue
  shell/pages/c/_cluster/uiplugins/CatalogList/index.vue
  shell/pages/c/_cluster/uiplugins/UninstallDialog.vue
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/plugins/plugin.js
  shell/scripts/extension/bundle
  shell/scripts/extension/helm/charts/ui-plugin-server/.helmignore
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/_helpers.tpl
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/cr.yaml
  shell/scripts/extension/helm/charts/ui-plugin-server/values.yaml
  shell/scripts/extension/helm/package/Dockerfile
  shell/scripts/extension/helm/package/nginx.conf
  shell/scripts/extension/helm/scripts/package
  shell/scripts/extension/helm/scripts/patch
  shell/scripts/extension/helm/scripts/version
  shell/scripts/extension/helmpatch
  shell/scripts/extension/publish
Labels: [zube]: Review, area/plugins, QA/None

#9056 Automation: App breaks when creating a new namespace from a workload
  cypress/e2e/po/components/labeled-input.po.ts
  cypress/e2e/po/pages/explorer/workloads-jobs.po.ts
  cypress/e2e/tests/pages/explorer/workloads/jobs.spec.ts
Labels: QA/dev-automation

#9075 Bump shell - Clean up temporary charts - fix chart url path
  shell/package.json
  shell/scripts/extension/publish
Labels: area/plugins, QA/None

#9068 [UI] Deletion of content in Username / Organization field should empty all previous content
  shell/components/form/GitPicker.vue
Labels: area/epinio

#9038 add e2e tests for 8802
  cypress/e2e/blueprints/explorer/workload-pods.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/pages/explorer/workloads.po.ts
  cypress/e2e/po/pages/page.po.ts
  cypress/e2e/tests/pages/explorer/workloads/pods.spec.ts
  cypress/e2e/tests/pages/explorer/workloads/workloads.spec.ts
Labels: QA/dev-automation

#9098 Remove *.tgz from extension .gitignore
  shell/creators/app/files/.gitignore
Labels: area/plugins, QA/None

#9111 Replace dex/sso terminology with Auth Provider
  pkg/epinio/l10n/en-us.yaml
Labels: area/epinio

#9112 Ensure cancel when creating a NS sets valid selected option
  shell/components/form/NameNsDescription.vue
Labels: area/epinio

#8754 HARVESTER: add bare-metal container and mcm support
  pkg/harvester-manager/config/harvester-manager.js
  shell/assets/translations/en-us.yaml
  shell/components/ClusterProviderIcon.vue
  shell/components/LandingPagePreference.vue
  shell/components/formatter/ClusterProvider.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/config/labels-annotations.js
  shell/config/product/explorer.js
  shell/edit/namespace.vue
  shell/edit/token.vue
  shell/layouts/default.vue
  shell/list/catalog.cattle.io.clusterrepo.vue
  shell/list/management.cattle.io.cluster.vue
  shell/list/provisioning.cattle.io.cluster.vue
  shell/middleware/authenticated.js
  shell/models/management.cattle.io.cluster.js
  shell/models/provisioning.cattle.io.cluster.js
  shell/pages/c/_cluster/explorer/index.vue
  shell/pages/diagnostic.vue
  shell/pages/home.vue
  shell/store/catalog.js
  shell/store/features.js
  shell/store/index.js
  shell/store/type-map.js
  shell/utils/cluster.js
Labels: area/harvester

#9127 Fix Application export
  pkg/epinio/dialog/ExportAppDialog.vue
  pkg/epinio/models/applications.js
Labels: area/epinio

#9071 Fix/key value upload file
  pkg/epinio/edit/configurations.vue
  shell/assets/translations/en-us.yaml
  shell/components/form/KeyValue.vue
Labels: area/epinio

#9150 Edit application from commit in App detail tab
  pkg/epinio/detail/applications.vue
  pkg/epinio/edit/applications.vue
  pkg/epinio/l10n/en-us.yaml
Labels: area/epinio

#9155 Add configurable debounce time in Git Picker form inputs
  shell/components/form/GitPicker.vue
Labels: area/epinio

#9102 Handle applications created by revision from CLI
  pkg/epinio/detail/applications.vue
  shell/components/form/GitPicker.vue
Labels: area/epinio

#9167 8657 - dynamic versions for support link
  shell/pages/support/index.vue
Labels: [zube]: Review

#9173 Fix issue where multiple instances of vue were imported
  shell/vue.config.js
Labels: area/epinio

#9157 Using addAction with an svg icon crashes the rancher ui
  shell/components/IconOrSvg.vue
  shell/utils/color.js
Labels: area/plugins

#9147 improve developer experience on extensions
  shell/assets/translations/en-us.yaml
  shell/config/uiplugins.js
  shell/plugins/plugin.js
Labels: QA/None

#9180 8657 - added unit tests for generateSupportLink
  shell/pages/support/index.vue
  shell/utils/__tests__/version.test.ts
  shell/utils/version.js
Labels: [zube]: Review

#9041 Modify zube auto-labelling action
  .github/workflows/add-to-triage-label.yaml
Labels: QA/None

#9051 Remove child yarn.lock files (docusaurus and storybook)
  .github/workflows/storybook.yaml
  .gitignore
  docusaurus/yarn.lock
  package.json
  storybook/yarn.lock
Labels: QA/None

#9218 Use the latest rancher/ui build in e2e tests
  scripts/build-e2e
  scripts/e2e-docker-start
Labels: QA/None

#9133 HARVESTER: keep the param referer on the newly opened grafana page.
  shell/components/GrafanaDashboard.vue
Labels: area/harvester

#8985 ClusterRepo detail page: Add git commit hash for git repos
  shell/detail/catalog.cattle.io.clusterrepo.vue
Labels: QA/None

#9238 HARVESTER: fix podAffinity can not update match expressions
  shell/components/form/PodAffinity.vue
Labels: area/harvester
