Repository rancher/dashboard, pull requests merged in 2023-03, with the labels that each got.

#8307 update icon logic on extensions
  shell/pages/c/_cluster/uiplugins/index.vue
Labels: status/dev-validate, QA/None

#8320 fix issue with plugins panel versions button wrap
  shell/pages/c/_cluster/uiplugins/PluginInfoPanel.vue
Labels: status/dev-validate, QA/None

#8323 Very minor Extension docs changes
  docusaurus/docs/extensions/advanced.md
  docusaurus/src/pages/index.js
Labels: status/dev-validate, QA/None

#8333 fix issue when all extensions versions not available
  shell/config/uiplugins.js
  shell/pages/c/_cluster/uiplugins/index.vue
Labels: kind/bug, status/dev-validate, area/plugins, QA/None

#8339 address QA concerns for #8283
  shell/machine-config/azure.vue
Labels: kind/bug, status/release-blocker

#8412 Fix error listing clusters for a base user (release 2.7.2 branch)
  shell/models/provisioning.cattle.io.cluster.js
Labels: status/release-blocker

#8221 Remove jquery from LazyImage.vue
  shell/components/LazyImage.vue
Labels: dependencies

#8362 [2.7.2] Fix setting Helm values for ProjectHelmCharts
  shell/edit/helm.cattle.io.projecthelmchart.vue
Labels: status/dev-validate, QA/None

#8417 Add extension translation docs
  docusaurus/docs/code-base-works/on-screen-text-and-translations.md
  docusaurus/docs/extensions/advanced.md
Labels: area/documentation, QA/None

#8232 Remove jquery from ActionMenu.vue, FileDiff.vue
  shell/components/ActionMenu.vue
  shell/components/FileDiff.vue
Labels: dependencies

#8219 Remove jquery from ButtonDropdown.vue, TopLevelMenu.vue
  shell/components/ButtonDropdown.vue
  shell/components/nav/TopLevelMenu.vue
Labels: dependencies

#8484 [2.7] Forward port #8482
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: QA/None

#8545 Increase build memory for e2e tests
  package.json
Labels: QA/None
