Repository rancher/dashboard, pull requests merged in 2023-02, with the labels that each got.

#8098 ResourceTable, fix Enter shortcut
  shell/components/ResourceTable.vue
Labels: area/ui

#7299 Add support for Epinio's Dex Auth provider
  pkg/epinio/l10n/en-us.yaml
  pkg/epinio/login/epinio.vue
  shell/pages/auth/login.vue
  shell/pages/auth/verify.vue
  shell/pkg/auto-import.js
  shell/store/auth.js
  shell/store/type-map.js
Labels: area/epinio

#8201 Extensions test script: ensure build fails when one of the build steps fails
  shell/scripts/test-plugins-build.sh
Labels: status/dev-validate

#7998 Monitoring tab, fix cards layout
  shell/pages/c/_cluster/monitoring/index.vue
Labels: area/monitoring, area/ui

#8198 Extensions: Add publish script to shell
  package.json
  shell/creators/app/init
  shell/creators/pkg/init
  shell/creators/update/init
  shell/scripts/clean
  shell/scripts/extension/helmpatch
  shell/scripts/extension/publish
Labels: status/dev-validate

#8230 fix small issue with extension developer load
  shell/pages/c/_cluster/uiplugins/InstallDialog.vue
  shell/pages/c/_cluster/uiplugins/index.vue
Labels: status/dev-validate, QA/None

#8245 Fix broken extensions check
  shell/creators/app/app.package.json
Labels: status/dev-validate, QA/None

#8251 Update extension docs
  docusaurus/docs/extensions/advanced.md
  docusaurus/docs/extensions/extension-api-methods/add-action.md
  docusaurus/docs/extensions/extension-api-methods/add-card.md
  docusaurus/docs/extensions/extension-api-methods/add-panel.md
  docusaurus/docs/extensions/extension-api-methods/add-tab.md
  docusaurus/docs/extensions/extension-api-methods/add-table-column.md
  docusaurus/docs/extensions/extensions-api.md
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/initializing-extensions.md
  docusaurus/docs/extensions/introduction.md
Labels: area/documentation

#8255 Avoid spurious console.error
  shell/plugins/steve/subscribe.js
Labels: status/dev-validate

#8257 Persist http response collection revision
  shell/plugins/dashboard-store/actions.js
  shell/plugins/dashboard-store/mutations.js
  shell/plugins/steve/mutations.js
Labels: status/dev-validate
