Repository rancher/dashboard, pull requests merged in 2023-09, with the labels that each got.

#9432 Initial work for integrating the UI tests with Jenkins
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.sh
  cypress/jenkins/init.sh
  cypress/jenkins/reporter-options.json
  cypress/jenkins/scpget.sh
Labels: area/ci

#9676 Fix pkg creator workflow filenames
  shell/creators/pkg/init
  shell/package.json
  shell/scripts/extension/parse-tag-name
Labels: area/plugins

#9566 Split parts of rke2.vue into separate pages
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/MemberRoles.vue
  shell/edit/provisioning.cattle.io.cluster/__tests__/Basics.tests.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: [zube]: Review

#9741 Fixed unit tests warnings
  shell/components/ClusterIconMenu.vue
  shell/components/Questions/__tests__/Yaml.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
  shell/edit/workload/storage/__tests__/Storage.test.ts
Labels: QA/None

#9771 Fixed side nav width
  shell/assets/styles/themes/_light.scss
Labels: area/navigation

#9652 show harvester cluster in fleet page
  shell/list/fleet.cattle.io.cluster.vue
  shell/utils/cluster.js
Labels: area/harvester

#9789 Projects ns extension point
  shell/components/ExplorerProjectsNamespaces.vue
  shell/package.json
Labels: area/plugins

#9768 fix: Adds margins to the app-bar when the global banner is enabled
  shell/components/nav/TopLevelMenu.vue
Labels: area/navigation
