Repository rancher/dashboard, pull requests merged in 2023-04, with the labels that each got.

#8633 Update v-html to v-clean-html
  shell/chart/istio.vue
Labels: QA/None

#8558 Bug fix for custom cloud credentials from extensions
  shell/store/type-map.js
Labels: QA/None

#8653 Remove .gitignore from exlude assets for publish action
  .github/workflows/docusaurus.yaml
Labels: area/ci, QA/None

#8601 Services, fix apps count in warning message
  pkg/epinio/promptRemove/services.vue
Labels: area/epinio

#8334 UI/update app source
  pkg/epinio/components/EpinioIntro.vue
  pkg/epinio/components/application/AppProgress.vue
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/components/dashboard/Cards.vue
  pkg/epinio/detail/applications.vue
  pkg/epinio/edit/applications.vue
  pkg/epinio/l10n/en-us.yaml
  pkg/epinio/models/appcharts.js
  pkg/epinio/models/application-action.js
  pkg/epinio/models/applications.js
  pkg/epinio/models/github-commits.js
  pkg/epinio/models/namespaces.js
  pkg/epinio/pages/c/_cluster/applications/createapp/index.vue
  pkg/epinio/pages/c/_cluster/dashboard.vue
  pkg/epinio/types.ts
  shell/components/form/GithubPicker.vue
Labels: area/epinio

#8666 Application source, fix searching of GitLab orgs
  shell/store/gitlab.js
Labels: area/epinio

#8668 App creation, fix GitLab `commits` API
  shell/store/github.js
  shell/store/gitlab.js
Labels: area/epinio

#8671 Fix two edit app source issues
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/detail/applications.vue
Labels: area/epinio

#8664 Hide `EPINIO_APP_DATA` from user, fix edit of source from non-git sources
  pkg/epinio/components/application/AppInfo.vue
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/detail/applications.vue
  pkg/epinio/models/applications.js
Labels: area/epinio

#8391 Dev server: Improve ctrl+c handling and suppress proxy setup messages
  shell/vue.config.js
Labels: QA/None

#8677 Extension docs: Minor tweaks
  docusaurus/docs/extensions/api/components/auto-import.md
  docusaurus/docs/extensions/api/components/components.md
  docusaurus/docs/extensions/api/components/node-drivers.md
  docusaurus/docs/extensions/api/components/resources.md
  docusaurus/docs/extensions/api/overview.md
  docusaurus/sidebars.js
Labels: QA/None

#8678 final breakdown of extensions doc into smaller chapters
  docusaurus/docs/extensions/advanced/stores.md
  docusaurus/docs/extensions/api/concepts.md
  docusaurus/docs/extensions/api/metadata.md
  docusaurus/docs/extensions/api/nav/custom-page.md
  docusaurus/docs/extensions/api/nav/resource-page.md
  docusaurus/docs/extensions/api/nav/routing.md
  docusaurus/docs/extensions/api/nav/side-menu.md
  docusaurus/docs/extensions/api/overview.md
  docusaurus/docs/extensions/extensions-configuration.md
  docusaurus/docs/extensions/usecases/overview.md
  docusaurus/docs/extensions/usecases/top-level-product.md
  docusaurus/sidebars.js
Labels: QA/None

#8696 PR Automation: Add support for QA/None
  .github/workflows/scripts/pr.js
Labels: QA/None

#8691 Added code to support truncation
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: QA/None

#8739 Backport 2.7.4: Fix the v-clean-html directive (#8617)
  shell/plugins/clean-html-directive.js
Labels: ci/skip-e2e

#8680 Remove `nuxt` module
  package.json
  pkg/epinio/tsconfig.json
  pkg/harvester-manager/tsconfig.json
  pkg/harvester/tsconfig.json
  pkg/rancher-components/src/components/Form/Radio/RadioButton.test.ts
  shell/creators/app/files/tsconfig.json
  shell/creators/pkg/files/tsconfig.json
  shell/package.json
  shell/pkg/tsconfig.json
  shell/tsconfig.json
  storybook/package.json
  storybook/tsconfig.json
  storybook/yarn.lock
  yarn.lock
Labels: QA/None

#8742 Update vue options to preserve whitespace
  shell/vue.config.js
Labels: QA/None

#8618 Update extensions publish workflow for assets in gh-pages branch
  shell/creators/pkg/files/.github/workflows/build-extension.yml
  shell/scripts/extension/publish
Labels: area/plugins, QA/None

#8654 Upgrade to Vue 2.7
  .eslintrc.js
  package.json
  pkg/epinio/package.json
  pkg/harvester-manager/package.json
  pkg/harvester/package.json
  pkg/rancher-components/package.json
  shell/creators/pkg/pkg.package.json
  shell/mixins/labeled-form-element.ts
  shell/package.json
  yarn.lock
Labels: QA/None

#8751 Prevent E2E workflow to fail on build phase
  package.json
Labels: QA/None

#8700 Remove extension autoLoad functionality
  shell/creators/app/files/vue.config.js
  shell/plugins/dashboard-store/extensions.js
  shell/plugins/plugin.js
  shell/vue.config.js
  vue.config.js
Labels: QA/None

#8759 Prevent E2E to fail on lint issues
  package.json
  storybook/package.json
Labels: QA/None
