Repository rancher/dashboard, pull requests merged in 2023-12, with the labels that each got.

#10114 Move extensions gitlab workflow
  shell/creators/app/files/.gitlab-ci.yml
  shell/package.json
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Labels: area/plugins, QA/None

#9735 Separated remaining tabs into separate components in rke2 file
  shell/edit/provisioning.cattle.io.cluster/AddOnConfig.vue
  shell/edit/provisioning.cattle.io.cluster/Advanced.vue
  shell/edit/provisioning.cattle.io.cluster/Basics.vue
  shell/edit/provisioning.cattle.io.cluster/Etcd.vue
  shell/edit/provisioning.cattle.io.cluster/Networking.vue
  shell/edit/provisioning.cattle.io.cluster/Registries.vue
  shell/edit/provisioning.cattle.io.cluster/Upgrade.vue
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: [zube]: Review

#10118 Upload artifacts as output of check-plugins check for debugging
  .eslintignore
  .github/workflows/check-plugins.yaml
  shell/scripts/test-plugins-build.sh
Labels: ci/skip-e2e

#10109 [Automation] - Fix the Helm installation using the bin tarball
  cypress/jenkins/init.sh
Labels: area/ci

#10163 [Automation] - Fixing Qase Suites dupes by increasing results limit and using string matching
  cypress/jenkins/junit_to_qase.py
Labels: area/ci

#10184 [Automation] - Refactor Jenkins Qase reporter to not use QQL endpoints and improve multi branch report creation
  cypress/jenkins/junit_to_qase.py
Labels: area/ci
