Repository rancher/dashboard, pull requests merged in 2023-08, with the labels that each got.

#9456 Add tagged release option to publish-pkgs script
  docusaurus/docs/extensions/advanced/air-gapped-environments.md
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  shell/package.json
  shell/scripts/extension/publish
Labels: area/plugins

#9523 Add option to avoid PromptModal clicking outside
  shell/components/PromptModal.vue
  shell/package.json
Labels: QA/None

#9544 Fix extension displayName annotation conditions - add configuration docs
  cypress/e2e/tests/pages/extensions.spec.ts
  docusaurus/docs/extensions/extensions-configuration.md
  pkg/harvester-manager/package.json
  shell/pages/c/_cluster/uiplugins/index.vue
Labels: area/plugins

#9514 locationConfig hash param
  docusaurus/docs/extensions/api/common.md
  docusaurus/docs/extensions/api/table-columns.md
  shell/components/ResourceTable.vue
  shell/core/plugin-helpers.js
  shell/core/types.ts
  shell/package.json
Labels: status/dev-validate, area/plugins, QA/None

#9599 Add latest rancher version annotation to extension pkg package.json
  shell/creators/pkg/init
Labels: area/plugins

#9495 Add reusable workflows for extension builds
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  docusaurus/docs/extensions/advanced/workflow-configuration.md
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  shell/creators/pkg/files/.github/workflows/build-container.yml
  shell/creators/pkg/files/.github/workflows/build-extension-catalog.yml
  shell/creators/pkg/files/.github/workflows/build-extension-charts.yml
  shell/creators/pkg/init
  shell/scripts/extension/parse-tag-name
Labels: area/plugins

#9605 Bump shell 0.3.22
  shell/package.json
Labels: QA/None
