Repository rancher/dashboard, pull requests merged in 2023-01, with the labels that each got.

#7858 E2E Tests: Add logging for env vars
  cypress.config.ts
  package.json
Labels: status/dev-validate

#7844 fix Scale Down prompt
  shell/dialog/GenericPrompt.vue
  shell/dialog/ScaleMachineDownDialog.vue
Labels: area/ui

#7830 xterm, align theme properties to version 5.x
  pkg/epinio/windowComponents/ApplicationShell.vue
  shell/components/nav/WindowManager/ContainerShell.vue
Labels: area/ui

#7848 ResourceTable, allow Enter event to be propagated
  shell/components/ResourceTable.vue
Labels: area/ui

#7806 The inner of the loading spinner uses different color than body.
  shell/static/loading-indicator.html
Labels: area/login

#7821 Edit Cluster, Implement warning message when migrating to k8s 1.25 an…
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: area/cluster

#7870 Cloud Provider, fix label for default value
  shell/assets/translations/en-us.yaml
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: area/ui

#7900 Workaround for backend issue where ws.resource.error is sent as ws.resource.change
  shell/plugins/steve/subscribe.js
Labels: status/dev-validate

#6569 pnap machine driver implementation
  shell/assets/translations/en-us.yaml
  shell/cloud-credential/pnap.vue
  shell/machine-config/pnap.vue
  shell/models/rke-machine.cattle.io.pnapmachinetemplate.js
  shell/store/pnap.js
Labels: [zube]: Review

#7893 Events tab, set "Last Seen" column as default sort
  shell/config/product/explorer.js
  shell/config/table-headers.js
  shell/models/event.js
Labels: area/ui

#7769 Add support for svg icons
  shell/assets/styles/themes/_light.scss
  shell/components/IconOrSvg.vue
  shell/components/nav/Header.vue
  shell/components/nav/TopLevelMenu.vue
  shell/utils/color.js
  shell/utils/svg-filter.js
Labels: status/dev-validate

#7916 Fix storybook publish error
  .github/workflows/scripts/publish-storybook
Labels: status/dev-validate

#7462 Add GitHub workflow for adding triage labels
  .github/labeler.yml
  .github/workflows/add-to-triage-label.yaml
Labels: status/dev-validate

#7936 [type-map.js], fix pluralize function
  shell/utils/string.js
Labels: area/ui

#7882 [Backport 2.6.x] Add event list to Pod detail page
  shell/components/form/ResourceTabs/index.vue
  shell/detail/workload/index.vue
Labels: kind/bug

#8018 Events tab, restore tooltips
  shell/assets/translations/en-us.yaml
  shell/components/SortableTable/THead.vue
  shell/config/product/explorer.js
  shell/config/table-headers.js
Labels: area/ui

#7879 [2.6] Code is always being instrumented
  docusaurus/docs/testing/e2e-testing.md
  package.json
  shell/nuxt.config.js
Labels: kind/bug, status/dev-validate, team/ui
