Repository rancher/dashboard, pull requests merged in 2023-05, with the labels that each got.

#8779 Fix deploy request payload
  pkg/epinio/models/application-action.js
Labels: area/epinio

#8755 Initial blog posts
  docusaurus/blog/2023-04-10-epinio-gitlab/epinio-gitlab.md
  docusaurus/blog/2023-04-10-epinio-gitlab/image.png
  docusaurus/blog/2023-04-10-epinio-gitlab/image1.png
  docusaurus/blog/2023-04-10-epinio-gitlab/image2.png
  docusaurus/blog/2023-04-10-epinio-gitlab/image3.png
  docusaurus/blog/2023-04-10-epinio-gitlab/image4.png
  docusaurus/blog/2023-04-10-epinio-gitlab/image5.png
  docusaurus/blog/2023-04-13-socket-disconnect-modal.md
  docusaurus/blog/2023-04-16-hostname-truncation/hostname-truncation.md
  docusaurus/blog/2023-04-16-hostname-truncation/image.png
  docusaurus/blog/2023-04-16-hostname-truncation/image1.png
  docusaurus/blog/2023-04-16-hostname-truncation/image2.png
  docusaurus/blog/2023-04-18-elemental-iso-build/elemental-iso-build.md
  docusaurus/blog/2023-04-18-elemental-iso-build/image.png
  docusaurus/blog/2023-04-18-elemental-iso-build/image1.png
  docusaurus/blog/2023-04-18-elemental-iso-build/image2.png
  docusaurus/blog/authors.yml
  docusaurus/blog/index.md
  docusaurus/docusaurus.config.js
Labels: area/documentation, QA/None

#8792 minor updates for extensions
  docusaurus/docs/extensions/extensions-getting-started.md
  shell/creators/app/files/.gitignore
  shell/creators/app/init
  shell/package.json
Labels: QA/None

#8771 Fix Epinio log in button's label
  pkg/epinio/l10n/en-us.yaml
  pkg/epinio/login/epinio.vue
Labels: area/epinio

#8843 Backport 2.7.4: Sanitize project label `v-html`
  shell/components/ExplorerProjectsNamespaces.vue
Labels: ci/skip-e2e

#8838 Fix import for clone from utils/object - Bump 0.3.9
  shell/mixins/chart.js
  shell/package.json
Labels: QA/None

#8876 Remove capitalization from application variables fields
  pkg/epinio/components/application/AppInfo.vue
Labels: area/epinio

#8688 Bump `@cypress`
  package.json
  yarn.lock
Labels: QA/None

#8692 Bump `css-loader`, `style-loader`
  package.json
  shell/package.json
  yarn.lock
Labels: QA/None

#8815 [PolicyRuleTarget] add unit tests
  jest.config.js
  shell/edit/networking.k8s.io.networkpolicy/PolicyRuleTarget.vue
  shell/edit/networking.k8s.io.networkpolicy/__tests__/PolicyRuleTarget.spec.ts
  shell/edit/networking.k8s.io.networkpolicy/__tests__/utils/mock.json
  shell/edit/networking.k8s.io.networkpolicy/__tests__/utils/selectors.ts
Labels: area/test

#8694 Bump resolutions dependencies
  package.json
  shell/package.json
  yarn.lock
Labels: QA/None

#8797 [Epinio] Adapt the UI to the new manifest API
  pkg/epinio/components/application/AppInfo.vue
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/detail/applications.vue
  pkg/epinio/edit/applications.vue
  pkg/epinio/models/application-action.js
  pkg/epinio/models/applications.js
  pkg/epinio/pages/c/_cluster/applications/createapp/index.vue
  pkg/epinio/types.ts
  pkg/epinio/utils/application.ts
  pkg/epinio/utils/git.ts
  shell/components/form/GitPicker.vue
  shell/store/gitlab.js
Labels: area/epinio

#8914 [UI] Fix Application creation from manifest
  pkg/epinio/components/application/AppSource.vue
Labels: area/epinio

#8716 Bump `jszip` `nodemon` `jsrsasign`
  package.json
  shell/package.json
  storybook/yarn.lock
  yarn.lock
Labels: QA/None

#8891 Fix spacing in setup page, remove border
  shell/pages/auth/login.vue
Labels: QA/None

#8672 Application source edit, fix form behavior
  pkg/epinio/components/application/AppSource.vue
  pkg/epinio/detail/applications.vue
  shell/components/form/GitPicker.vue
Labels: area/epinio

#8735 Changes to support custom node driver UI extensions
  jest.setup.js
  shell/components/form/KeyValue.vue
  shell/components/form/Taints.vue
  shell/edit/provisioning.cattle.io.cluster/MachinePool.vue
  shell/edit/provisioning.cattle.io.cluster/__tests__/rke2.test.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: QA/None

#8988 [UI] Fix configuration and services binding
  pkg/epinio/components/application/AppConfiguration.vue
  pkg/epinio/models/configurations.js
Labels: area/epinio
