Repository rancher/dashboard, pull requests merged in 2023-11, with the labels that each got.

#10033 Use full text label "Refresh" on refresh button instead of just icon
  shell/assets/translations/en-us.yaml
  shell/components/AsyncButton.vue
  shell/components/SortableTable/index.vue
Labels: QA/None

#9723 default size value for grafana v2
  shell/chart/monitoring/grafana/index.vue
Labels: [zube]: Review

#9983 [Automation] - Recurring dashboard UI tests with multi branch pipeline and tags. Qase reporting
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/Jenkinsfile_multi
  cypress/jenkins/cypress.sh
  cypress/jenkins/init.sh
  cypress/jenkins/junit_to_qase.py
  cypress/jenkins/reporter-options.json
  cypress/jenkins/scpget.sh
  cypress/jenkins/transform-junit.sh
Labels: [zube]: QA Review
