Repository rancher/dashboard, pull requests merged in 2023-07, with the labels that each got.

#9255 Additional check and optional chaining before accessing properties
  shell/pages/docs/_doc.vue
Labels: [zube]: Review

#9170 Handle enabled flag per row for table actions properly (as a function) on extension API
  docusaurus/docs/extensions/api/actions.md
  shell/core/plugin-helpers.js
  shell/core/types.ts
Labels: area/plugins, QA/None

#9291 Remove overlay loading from pod details
  shell/detail/pod.vue
Labels: [zube]: Review

#9257 Add wrap styling to image column
  shell/components/formatter/Image.vue
  shell/components/formatter/PodImages.vue
  shell/config/table-headers.js
Labels: [zube]: Review

#9186 Wire in extension table column feature to cluster `node` list and other hardcoded places
  shell/components/ResourceTable.vue
  shell/detail/node.vue
  shell/detail/workload/index.vue
  shell/store/type-map.js
Labels: area/plugins

#9295 Add e2e tests for Kubewarden extension installation
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/extensions/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
  shell/pages/c/_cluster/apps/charts/index.vue
Labels: QA/dev-automation

#9306 changed formatter name
  shell/components/formatter/ImageName.vue
  shell/config/table-headers.js
Labels: QA/None

#9315 fix broken pod details page
  shell/detail/pod.vue
Labels: QA/None

#8890 remove plugin accurately
  shell/core/plugins.js
Labels: area/harvester

#9239 Re-render Labels component manually
  shell/edit/namespace.vue
Labels: area/harvester

#9289 Add conditions for updating root index of extension
  shell/scripts/extension/publish
Labels: area/plugins, QA/None

#9359 address misformatted banner on extensions por partners repo
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/extensions.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/index.vue
Labels: kind/enhancement, QA/dev-automation

#9382 fix gating issue with node version
  .github/workflows/check-plugins.yaml
Labels: QA/None

#9381 HARVESTER: Fix failed to pass guest cluster name into Harvester cloud provider
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: area/harvester

#9385 improve location config cross-check with path param
  docusaurus/docs/extensions/api/common.md
  shell/core/plugin-helpers.js
  shell/core/types.ts
Labels: area/plugins, QA/None
