Repository rancher/dashboard, pull requests merged in 2024-12, with the labels that each got.

#12740 [Backport 2.8] Extension creator upgrade paths
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  creators/extension/update/init
  creators/extension/update/upgrade
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Labels: area/extensions, QA/None, creator

#12739 [Backport 2.9] Extension creator upgrade paths
  creators/extension/app/files/.nvmrc
  creators/extension/app/init
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  creators/extension/update/init
  creators/extension/update/upgrade
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Labels: area/extensions, QA/None, creator

#12743 update e2e tests
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/jobs.spec.ts
  cypress/e2e/tests/pages/global-settings/feature-flags.spec.ts
  cypress/e2e/tests/pages/global-settings/index.spec.ts
  cypress/e2e/tests/pages/manager/edit-fake-cluster.spec.ts
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
  cypress/e2e/tests/pages/users-and-auth/index.spec.ts
  cypress/jenkins/init.sh
Labels: QA/dev-automation

#12755 [2.9.5] Align pkg and app creators with master
  creators/extension/app/app.package.json
  creators/extension/app/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
Labels: area/extensions, QA/None, creator

#12756 [2.8.11] Align pkg and app creators with master
  creators/extension/app/app.package.json
  creators/extension/app/init
  creators/extension/package.json
  creators/extension/pkg/init
  creators/extension/pkg/package.json
Labels: area/extensions, creator

#12789 [2.8.11] Add condition for latestPackage.dependencies
  creators/extension/package.json
  creators/extension/update/init
  creators/extension/update/upgrade
Labels: area/extensions, QA/None, creator

#12796 yaml footer e2e test
  cypress/e2e/po/pages/explorer/workloads-pods.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
Labels: area/e2e

#12832 fix fleet tests
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
Labels: area/e2e

#12801 [Automation] - Adding logging chart test
  cypress/e2e/po/other-products/logging/logging-clusterflow-po.ts
  cypress/e2e/po/other-products/logging/logging-clusteroutput.po.ts
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
Labels: QA/dev-automation

#12834 unpin chrome version
  .github/workflows/test.yaml
  cypress/e2e/tests/pages/generic/home.spec.ts
Labels: area/e2e

#12835 [backport v2.10.1] unpin chrome version
  .github/workflows/test.yaml
  cypress/e2e/tests/pages/generic/home.spec.ts
Labels: area/e2e

#12836 [backport 2.9.5] unpin chrome version
  .github/workflows/test.yaml
  cypress/e2e/tests/pages/generic/home.spec.ts
Labels: area/e2e

#12846 [Automation] - Adding pod scaling test and simplify deployment spec structure
  cypress/e2e/blueprints/explorer/workloads/deployments/deployment-create.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/pages/explorer2/workloads/deployments.spec.ts
Labels: QA/dev-automation

#12854 automation: assign cluster to fleet workspace
  cypress/e2e/po/components/assign-to-dialog.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.cluster.po.ts
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
  shell/components/AssignTo.vue
Labels: area/e2e
