Repository rancher/dashboard, pull requests merged in 2024-01, with the labels that each got.

#10204 Fix docusaurus build
  docusaurus/package.json
Labels: QA/None

#10217 revert docusaurus build change
  docusaurus/package.json
Labels: QA/None

#10224 Comment out Chrome 116 pinning as no longer needed
  .github/workflows/test.yaml
Labels: QA/None

#10219 Update `source.fixAll.eslint` and specify `typescript.tsdk` in `.vscode/settings.json`
  .vscode/settings.json
Labels: QA/None

#10232 Update copyright year in README to 2024
  README.md
Labels: QA/None

#10239 Replace `Vue.extend` with `defineComponent` in shell
  shell/components/AsyncButton.vue
  shell/components/Certificates.vue
  shell/components/DraggableZone.vue
  shell/components/PodSecurityAdmission.vue
  shell/components/form/Error.vue
  shell/components/form/Footer.vue
  shell/components/form/GitPicker.vue
  shell/edit/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/mixins/create-edit-view/index.js
  shell/tsconfig.paths.json
  shell/types/vue-shim.d.ts
  shell/utils/git.ts
Labels: status/dev-validate

#10235 Write tests for `useCompactInput` and `useLabeledFormElement`
  shell/composables/useCompactInput.test.ts
  shell/composables/useCompactInput.ts
  shell/composables/useLabeledFormElement.test.ts
Labels: QA/dev-automation

#10261 add retry logic for failing user creation network request
  cypress/e2e/po/edit/management.cattle.io.user.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/tests/pages/explorer/cluster-project-members.spec.ts
  shell/components/CruResource.vue
Labels: kind/bug

#10246 [Automation] - Jenkinsfile formatting and failure flags
  cypress/jenkins/Jenkinsfile
Labels: area/ci

#10272 Fix issue LabeledInput with type "multiline"
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.test.ts
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
Labels: kind/bug, status/blocking-e2e

#10328 Bump shell version `0.5.0`
  shell/package.json
Labels: QA/None

#10313 Show specific providers when creating RKE2 cluster in OVH
  shell/store/plugins.js
Labels: area/provisioning-rke2
