Repository rancher/dashboard, pull requests merged in 2024-10, with the labels that each got.

#12053 Fix 2.8 e2e tests
  .vscode/settings.json
  cypress/e2e/po/lists/fleet/fleet.cattle.io.gitrepo.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.gitrepo.po.ts
  cypress/e2e/po/pages/fleet/gitrepo-create.po.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/pages/explorer/workloads/deployments.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
Labels: area/e2e

#12084 Fix publish shell workflow node-version mismatch
  .github/workflows/release-shell-pkg.yaml
Labels: area/extensions, QA/None

#12132 Remove unnecessary yarn setup step in extension publish workflow
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
Labels: area/extensions

#12143 [Backport 2.8] Remove unnecessary yarn setup step in extension publish workflow
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
Labels: area/extensions

#12176 Fix reference to tsc binary when publishing shell
  shell/package.json
  shell/scripts/publish-shell.sh
  shell/scripts/typegen.sh
Labels: area/extensions

#12164 [Automation][v2.8] - adding cypress-mochawesome-reporter for jenkins html report
  cypress/support/e2e.ts
  package.json
  yarn.lock
Labels: area/ci

#12163 [Automation][v2.9] - adding cypress-mochawesome-reporter for jenkins html report
  cypress/support/e2e.ts
  package.json
  yarn.lock
Labels: area/ci

#12191 [Backport 2.8] Fix reference to tsc binary when publishing shell
  shell/package.json
  shell/scripts/publish-shell.sh
  shell/scripts/typegen.sh
Labels: area/extensions

#12190 [Backport 2.9] - Fix reference to tsc binary when publishing shell
  shell/package.json
  shell/scripts/publish-shell.sh
  shell/scripts/typegen.sh
Labels: area/extensions

#12211 Fix typegen script shell directory paths
  shell/package.json
  shell/scripts/typegen.sh
Labels: area/extensions, status/backport-candidate

#12100 [Automation] - Adjust cypress execution to generate html report on Jenkins
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/jenkins/cypress.sh
  cypress/jenkins/reporter-options.json
  cypress/jenkins/scpget.sh
  cypress/support/e2e.ts
  package.json
  yarn.lock
Labels: area/ci

#12254 [Automation] - Install libraries using apk if OS is Alpine
  cypress/jenkins/transform-junit.sh
Labels: area/ci

#12242 fix flaky provisioning tests
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke1.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke1.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: area/e2e

#12293 Add Vue3 migration helper to extension creator
  creators/extension/init
  creators/extension/migrate/config.js
  creators/extension/migrate/ignore.js
  creators/extension/migrate/init
  creators/extension/migrate/package.json
  creators/extension/migrate/params.js
  creators/extension/migrate/stats.js
  creators/extension/migrate/tasks/eslintUpdates.js
  creators/extension/migrate/tasks/index.js
  creators/extension/migrate/tasks/nvmUpdates.js
  creators/extension/migrate/tasks/packageUpdates.js
  creators/extension/migrate/tasks/routerUpdates.js
  creators/extension/migrate/tasks/stylesUpdates.js
  creators/extension/migrate/tasks/tsUpdates.js
  creators/extension/migrate/tasks/vueConfigUpdates.js
  creators/extension/migrate/tasks/vueSyntaxUpdates.js
  creators/extension/migrate/utils/content.js
  creators/extension/migrate/utils/index.js
  creators/extension/migrate/utils/vueSyntax.js
  creators/extension/package.json
Labels: area/extensions

#12308 Bump extension creator
  creators/extension/package.json
Labels: area/extensions

#12415 Fix agentConfig checkbox input
  shell/edit/provisioning.cattle.io.cluster/__tests__/Advanced.test.ts
  shell/edit/provisioning.cattle.io.cluster/tabs/Advanced.vue
Labels: kind/bug

#12423 Fix documentation link check script
  scripts/check-i18n-links
Labels: shell

#12446 Add deepToRaw method for recursively converting proxy objects to raw
  shell/plugins/steve/mutations.js
  shell/plugins/steve/subscribe.js
  shell/utils/__tests__/object.test.ts
  shell/utils/object.js
Labels: kind/bug
