Repository rancher/dashboard, pull requests merged in 2024-06, with the labels that each got.

#11153 Include Kubewarden extension tests
  cypress/e2e/po/pages/extensions/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Labels: area/e2e

#11244 Revert "Include Kubewarden extension tests"
  cypress/e2e/po/pages/extensions/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Labels: area/e2e

#11243 Update gitlab pipeline with node setup
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Labels: kind/bug

#11248 [Automation] - Use testid locators rather than positional on pagination
  cypress/e2e/po/components/pagination.po.ts
  shell/components/SortableTable/index.vue
Labels: QA/dev-automation

#11295 changed storybook runner version
  storybook/package.json
Labels: internal

#11252 vai pagination tests - pods
  cypress/e2e/blueprints/explorer/workloads/pods/pods-get.ts
  cypress/e2e/po/components/header-row.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
  cypress/e2e/tests/pages/explorer/workloads/pods.spec.ts
  cypress/e2e/tests/pages/fleet/fleet-clusters.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: area/e2e

#11292 [FEAT] Added JWT Authentication feature
  cypress/e2e/po/lists/jwt-authentication-list.po.ts
  cypress/e2e/po/pages/cluster-manager/jwt-authentication.po.ts
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  shell/assets/translations/en-us.yaml
  shell/config/product/manager.js
  shell/config/router/routes.js
  shell/config/types.js
  shell/edit/provisioning.cattle.io.cluster/tabs/Advanced.vue
  shell/pages/c/_cluster/manager/jwt.authentication/index.vue
Labels: QA/dev-automation

#11287 Add agent tls mode to global settings
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  shell/assets/translations/en-us.yaml
  shell/config/settings.ts
  shell/edit/management.cattle.io.setting.vue
Labels: kind/enhancement
