Repository rancher/dashboard, pull requests merged in 2024-05, with the labels that each got.

#10867 [Automation] - Cluster Details - Conditions and Related
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/lists/cluster-conditions-list.po.ts
  cypress/e2e/po/lists/cluster-provisioning-log.po.ts
  cypress/e2e/po/lists/cluster-referred-to-list.po.ts
  cypress/e2e/po/lists/machine-pools-list.po.ts
  cypress/e2e/po/pages/cluster-manager/cluster-manager-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Labels: QA/dev-automation

#10943 [INT] Refactored some of the plugins
  shell/initialize/plugins.js
  shell/plugins/global-formatters.js
  shell/plugins/portal-vue.js
  shell/plugins/portal.js
  shell/plugins/resize.js
  shell/plugins/shortkey.js
  shell/plugins/tooltip.js
  shell/plugins/v-select.js
  storybook/.storybook/preview.js
Labels: area/plugins

#10944 [INT] Refactored some of the plugins - 2
  shell/components/__tests__/ButtonGroup.test.ts
  shell/initialize/index.js
  shell/initialize/plugins.js
  shell/plugins/codemirror.js
  shell/plugins/index.js
  shell/plugins/positive-int-number.js
  shell/plugins/trim-whitespace.js
  storybook/.storybook/preview.js
Labels: area/plugins, QA/manual-test

#10970 [Automation] Added test to validate that Create button is disabled when attempting to create a project but name is not provided
  cypress/e2e/tests/pages/explorer/project-namespace.spec.ts
Labels: QA/dev-automation

#10946 [INT] Refactored some of the plugins - 3
  jest.setup.js
  pkg/rancher-components/src/components/Banner/Banner.test.ts
  pkg/rancher-components/src/components/Form/Radio/RadioButton.test.ts
  shell/components/__tests__/AsyncButton.test.ts
  shell/components/__tests__/CruResource.test.ts
  shell/components/__tests__/EtcdInfoBanner.test.ts
  shell/components/__tests__/NamespaceFilter.test.ts
  shell/components/form/__tests__/KeyValue.test.ts
  shell/edit/__tests__/kontainerDriver.test.ts
  shell/edit/__tests__/monitoring.coreos.com.prometheusrule.test.ts
  shell/edit/__tests__/nodeDriver.test.ts
  shell/edit/__tests__/service.test.ts
  shell/edit/auth/__tests__/AuthProviderWarningBanners.test.ts
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/networking.k8s.io.networkpolicy/__tests__/PolicyRuleTarget.test.ts
  shell/edit/provisioning.cattle.io.cluster/__tests__/CustomCommand.test.ts
  shell/edit/workload/__tests__/Job.test.ts
  shell/machine-config/__tests__/vmwarevsphere.test.ts
  shell/pages/c/_cluster/explorer/tools/__tests__/index.test.ts
  shell/plugins/clean-html-directive.js
  shell/plugins/clean-tooltip-directive.js
  shell/plugins/focus.js
  shell/plugins/index.js
  shell/plugins/int-number.js
  shell/plugins/positive-int-number.js
  storybook/.storybook/preview.js
Labels: area/plugins, QA/manual-test

#11001 Add CNAME
  CNAME
Labels: QA/None

#11002 Update docusaurus for extensions domain
  docusaurus/docusaurus.config.js
Labels: QA/None

#11006 Docusarus site: Trying a different URL
  docusaurus/docusaurus.config.js
Labels: QA/None

#11007 Extensions docs: Add cname to gh-pages branch
  .github/workflows/docusaurus.yaml
  docusaurus/docusaurus.config.js
Labels: QA/None

#10955 [Automation] - Adding Cluster Details and Snapshot tab check
  cypress/e2e/po/components/resource-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/po/lists/cluster-recent-events-list.po.ts
  cypress/e2e/po/lists/cluster-snapshots-list.po.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
Labels: QA/dev-automation

#11057 [Automation] - Cluster Actions Header
  cypress/e2e/po/components/header.po.ts
  cypress/e2e/po/pages/explorer/cluster-dashboard.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/resource-search.spec.ts
  shell/components/nav/Header.vue
Labels: QA/dev-automation

#11036 Support built-in plugin operator with feature flag
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/extensions/kubewarden.po.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
  shell/assets/translations/en-us.yaml
  shell/pages/c/_cluster/uiplugins/RemoveUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/SetupUIPlugins.vue
  shell/pages/c/_cluster/uiplugins/__tests__/SetupUIPlugins.test.ts
  shell/pages/c/_cluster/uiplugins/index.vue
  shell/store/features.js
Labels: kind/enhancement, area/plugins

#11085 [Automation] - Adding data state cleanup before running cloud-credential spec
  cypress/e2e/tests/pages/manager/cloud-credential.spec.ts
  cypress/e2e/tests/pages/manager/cloud-credentials.spec.ts
Labels: QA/dev-automation
