Repository rancher/dashboard, pull requests merged in 2024-08, with the labels that each got.

#11605 Consolidate extension creators into one package
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  shell/creators/extension/app/app.package.json
  shell/creators/extension/app/files/.eslintignore
  shell/creators/extension/app/files/.eslintrc.js
  shell/creators/extension/app/files/.github/workflows/build-extension-catalog.yml
  shell/creators/extension/app/files/.github/workflows/build-extension-charts.yml
  shell/creators/extension/app/files/.gitignore
  shell/creators/extension/app/files/.gitlab-ci.yml
  shell/creators/extension/app/files/.vscode/settings.json
  shell/creators/extension/app/files/babel.config.js
  shell/creators/extension/app/files/tsconfig.json
  shell/creators/extension/app/files/vue.config.js
  shell/creators/extension/app/init
  shell/creators/extension/app/package.json
  shell/creators/extension/init
  shell/creators/extension/package.json
  shell/creators/extension/pkg/files/babel.config.js
  shell/creators/extension/pkg/files/index.ts
  shell/creators/extension/pkg/files/tsconfig.json
  shell/creators/extension/pkg/files/vue.config.js
  shell/creators/extension/pkg/init
  shell/creators/extension/pkg/package.json
  shell/creators/extension/pkg/pkg.package.json
  shell/creators/extension/pkg/vue-shim.ts
  shell/creators/extension/update/init
  shell/creators/extension/update/package.json
  shell/creators/extension/update/upgrade
  shell/scripts/publish-shell.sh
  shell/scripts/test-plugins-build.sh
Labels: kind/enhancement, area/extensions, QA/dev-automation

#11587 [Automation] - Reduce execution time of pagination tests
  cypress/e2e/blueprints/explorer/workloads/pods/pods-get.ts
  cypress/e2e/po/pages/users-and-auth/roles.po.ts
  cypress/e2e/tests/pages/explorer/more-resources/api/custom-resource-definitions.spec.ts
  cypress/e2e/tests/pages/explorer/workloads/pods.spec.ts
  cypress/e2e/tests/pages/fleet/advanced/workspaces.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: QA/dev-automation

#11702 Use `v-model` for data binding on in Jump.vue
  cypress/e2e/tests/pages/explorer/resource-search.spec.ts
  shell/components/nav/Jump.vue
Labels: area/vue3

#11708 Fixing the tooltip selector used in the main-side-menu tests and renabled the test
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
Labels: area/vue3

#11703 Updating the shortkey plugin to work in vue3
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  cypress/e2e/tests/pages/explorer/api/api-services.spec.ts
  package.json
  shell/initialize/install-plugins.js
  shell/package.json
  shell/plugins/shortkey.js
  shell/yarn.lock
  storybook/.storybook/preview.js
  yarn.lock
Labels: area/vue3

#11693 [Automation] - Disable @vai tag on unsupported or default off Rancher
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#11714 Remove `vue-js-modal` dependency
  package.json
  shell/initialize/install-plugins.js
  shell/package.json
  shell/plugins/vue-js-modal.js
  shell/yarn.lock
  storybook/yarn.lock
  yarn.lock
Labels: area/vue3

#11704 Remove unnecessary template wrapping extension tabs
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  shell/pages/c/_cluster/uiplugins/index.vue
Labels: kind/bug, area/vue3

#11715 bump upper limit of kube version annotation in default chart.yaml
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Labels: area/extensions, QA/None

#11711 Add alpha and beta `dist-tags` to `@rancher/components` release workflow
  .github/workflows/release-rancher-components.yml
  pkg/rancher-components/package.json
Labels: area/vue3

#11726 Add `canPaginate` computed prop to components that use `LabeledFormElement` mixin
  shell/components/form/InputWithSelect.vue
  shell/components/form/Select.vue
  shell/components/form/ServiceNameSelect.vue
  shell/components/form/__tests__/InputWithSelect.test.ts
  shell/components/form/__tests__/Select.test.ts
  shell/components/form/__tests__/ServiceNameSelect.test.ts
Labels: area/vue3

#11733 [Automation] - Refactor logic to improve existing job type
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#11739 Minor changes to the extensions docs for 2.9 and 2.10 changes
  docusaurus/docs/extensions/rancher-2.10-support.md
  docusaurus/docs/extensions/rancher-2.9-support.md
Labels: area/extensions

#11765 [Automation] - Fix naming after a change was reverted on corral-packages
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#11768 remove upper limit on kube version for default annotations on extensions
  shell/scripts/extension/helm/charts/ui-plugin-server/Chart.yaml
Labels: QA/None

#11758 Ensure @rancher/shell version using tags
  .github/workflows/build-extension-catalog.yml
  .github/workflows/build-extension-charts.yml
  .github/workflows/check-plugins.yaml
  .github/workflows/release-shell-pkg.yaml
  creators/extension/app/app.package.json
  creators/extension/app/files/.eslintignore
  creators/extension/app/files/.eslintrc.js
  creators/extension/app/files/.github/workflows/build-extension-catalog.yml
  creators/extension/app/files/.github/workflows/build-extension-charts.yml
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/app/files/.vscode/settings.json
  creators/extension/app/files/.yarnrc.yml
  creators/extension/app/files/babel.config.js
  creators/extension/app/files/gitignore
  creators/extension/app/files/tsconfig.json
  creators/extension/app/files/vue.config.js
  creators/extension/app/init
  creators/extension/app/package.json
  creators/extension/init
  creators/extension/package.json
  creators/extension/pkg/files/babel.config.js
  creators/extension/pkg/files/index.ts
  creators/extension/pkg/files/tsconfig.json
  creators/extension/pkg/files/vue.config.js
  creators/extension/pkg/init
  creators/extension/pkg/package.json
  creators/extension/pkg/pkg.package.json
  creators/extension/pkg/vue-shim.ts
  creators/extension/update/init
  creators/extension/update/package.json
  creators/extension/update/upgrade
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  package.json
  shell/scripts/publish-shell.sh
  shell/scripts/test-plugins-build.sh
  tsconfig.json
Labels: area/extensions, QA/dev-automation

#11777 Update follow behavior in `ContainerLogs.vue`
  shell/components/nav/WindowManager/ContainerLogs.vue
Labels: area/vue3
