Repository rancher/dashboard, pull requests merged in 2024-11, with the labels that each got.

#12459 Bump shell 2.0.2
  shell/package.json
Labels: shell

#12489 Bump @rancher/shell 3.0.0
  shell/package.json
Labels: area/extensions, shell

#12349 Harvester shell integration - bump chron libraries
  .github/workflows/build-extension-charts.yml
  pkg/rancher-components/package.json
  pkg/rancher-components/src/components/Form/LabeledInput/LabeledInput.vue
  shell/package.json
  shell/utils/validators/cron-schedule.js
  shell/utils/validators/formRules/index.ts
  yarn.lock
Labels: shell

#12348 Harvester shell integration - assets
  shell/assets/brand/harvester/favicon.png
  shell/assets/brand/harvester/metadata.json
  shell/assets/images/pl/harvester.svg
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Labels: shell

#12565 Replace `v-tooltip` with `v-clean-tooltip`
  pkg/aks/components/AksNodePool.vue
  shell/components/SideNav.vue
  shell/components/TableDataUserIcon.vue
  shell/components/nav/TopLevelMenu.vue
  shell/directives/clean-tooltip.js
Labels: QA/manual-test

#12352 Harvester shell integration - remove LocaleSelector when is Harvester standalone UI
  shell/components/LandingPagePreference.vue
  shell/pages/auth/login.vue
  shell/pages/prefs.vue
  shell/store/i18n.js
Labels: shell

#12353 Harvester shell integration - add translations
  shell/assets/translations/en-us.yaml
Labels: shell

#12601 Bump @rancher/shell v3.0.1-rc.1
  shell/package.json
Labels: area/extensions, shell
