Repository rancher/dashboard, pull requests merged in 2024-02, with the labels that each got.

#10379 [Automation] - Add specific viewport size for Bulk Actions element to show
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Labels: area/test, area/ci

#10415 [Automation] - Use the grepTags as environment variable
  cypress/jenkins/cypress.sh
Labels: area/ci

#10430 Fix e2e nav items selector and suspend Istio nav item check
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/pages/charts/istio.spec.ts
Labels: area/e2e

#10467 Bump @rancher/shell to 0.5.3
  shell/package.json
Labels: QA/None

#10478 Add the Port PR workflow
  .github/workflows/port-pr.yaml
Labels: status/dev-validate

#10498 [Workflow] Port PR: Use `[...]` to evaluate conditional expression
  .github/workflows/port-pr.yaml
Labels: status/dev-validate

#10524 Collective doc e2e: Merge links.ts into existing home-links-responses.ts
  cypress/e2e/blueprints/global/settings/links.ts
  cypress/e2e/blueprints/global_settings/home-links-response.ts
  cypress/e2e/tests/pages/generic/collective.spec.ts
Labels: QA/None
