Repository rancher/dashboard, pull requests merged in 2024-04, with the labels that each got.

#10707 Tweaks to new cluster switch feature
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/nav/TopLevelMenu.vue
Labels: kind/bug

#10222 Bump Vue to 2.7.16
  package.json
  pkg/rancher-components/package.json
  shell/package.json
  yarn.lock
Labels: release-note

#10758 automation: fix failing charts tests
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
Labels: [zube]: Working, QA/None, QA/dev-automation

#10644 automation: rke1 cluster prov aws
  cypress/e2e/po/components/ember/ember-banners.po.ts
  cypress/e2e/po/components/ember/ember-checkbox-input.po.ts
  cypress/e2e/po/components/ember/ember-form-node-pools.po.ts
  cypress/e2e/po/components/ember/ember-input.po.ts
  cypress/e2e/po/components/ember/ember-kubernetes-options.po.ts
  cypress/e2e/po/components/ember/ember-modal-add-node-template-aws.po.ts
  cypress/e2e/po/components/ember/ember-modal-add-node-template_generic.po.ts
  cypress/e2e/po/components/ember/ember-radio.po.ts
  cypress/e2e/po/components/ember/ember-select.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail-rke1-amazon.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-amazonec2.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1.po.ts
  cypress/e2e/po/pages/cluster-manager/cluster-manager-list.po.ts
  cypress/e2e/po/pages/cluster-manager/node-templates.po.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke1.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-amazon-ec2-rke2.spec.ts
  cypress/e2e/tests/pages/manager/cluster-provisioning-azure-rke2.spec.ts
  cypress/e2e/tests/pages/manager/node-templates.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: [zube]: Review

#10753 automation: add page reload to e2e test
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
Labels: [zube]: Review

#10726 [Automation] - Adding real cluster support for Imported Generic tests
  cypress/e2e/po/detail/provisioning.cattle.io.cluster/cluster-detail.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/jenkins/Dockerfile.ci
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.sh
  cypress/jenkins/init.sh
Labels: [zube]: Review, area/ci, QA/dev-automation

#10783 automation: address failing/flaky tests
  cypress/e2e/blueprints/user_preferences/group_by.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
  cypress/e2e/tests/pages/explorer/node-list.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/e2e/tests/pages/generic/home.spec.ts
  cypress/e2e/tests/pages/manager/pod-security-admissions.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/globals.d.ts
Labels: [zube]: Review, area/ci

#10756 [FEAT] Added validation to AzureAD
  cypress/e2e/po/edit/auth/azuread.po.ts
  cypress/e2e/po/pages/users-and-auth/authProvider.po.ts
  cypress/e2e/tests/pages/users-and-auth/azuread.spec.ts
  shell/assets/translations/en-us.yaml
  shell/edit/auth/__tests__/azuread.test.ts
  shell/edit/auth/azuread.vue
Labels: [zube]: Working

#10802 automation: add check for cluster name in tooltip
  cypress/e2e/tests/navigation/side-nav/main-side-menu.spec.ts
Labels: [zube]: Review

#10789 [Automation] - Adding support for RKE2 custom cluster provisioning
  cypress.config.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/jenkins/init.sh
Labels: area/provisioning-rke2, QA/dev-automation

#10792 automation: part 2 of fixing flaky tests
  cypress/e2e/tests/pages/explorer/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
Labels: [zube]: QA Working

#10825 GitHub project automation - add issue to board and change status
  .github/workflows/scripts/pr-gh-project.js
  .github/workflows/scripts/request.js
Labels: QA/None

#10830 Bug fix for adding issue to the GH Project board
  .github/workflows/scripts/pr-gh-project.js
Labels: QA/None

#10846 GitHub Action: GH Projects: Fix ID used to move issue on board
  .github/workflows/scripts/pr-gh-project.js
Labels: QA/None

#10855 Zube migration: Update script, update workflow and remove Zube workflow
  .github/workflows/pr-zube.yaml
  .github/workflows/scripts/pr-gh-project.js
  .github/workflows/scripts/pr.js
  .github/workflows/scripts/request.js
  scripts/github/zube-migration
Labels: QA/None

#10862 Remove zube labelling of new issues
  .github/workflows/scripts/add-issue-labels.js
Labels: QA/None

#10873 GH Project Action: Fix clean labels bug
  .github/workflows/scripts/pr-gh-project.js
Labels: QA/None
