Repository rancher/dashboard, pull requests merged in 2024-03, with the labels that each got.

#10521 [Workflow] Port PR: Fix issues with assignees and relaying error messages
  .github/workflows/port-pr.yaml
Labels: status/dev-validate

#10630 Target `v2.9-a83e8c5526b54153aee0edbc2dc7b6d8ea982bec-head` for e2e runs
  package.json
  scripts/e2e-docker-start
Labels: status/dev-validate

#10670 [FIX] Fixed clicking on a group header outside of text not working
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
  shell/components/nav/Group.vue
Labels: QA/dev-automation

#10695 [FIX] Fixed broken test in product-side-nav.spec
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
Labels: QA/dev-automation

#10557 [FEAT] Moved driver pages from Ember
  cypress/e2e/po/dialog/DeactivateDriverDialog.po.ts
  cypress/e2e/po/edit/kontainerDriver.po.ts
  cypress/e2e/po/edit/nodeDriver.po.ts
  cypress/e2e/po/lists/kontainerdriver.po.ts
  cypress/e2e/po/lists/nodedriver.po.ts
  cypress/e2e/po/pages/cluster-manager/drivers/kontainer-driver-list.po.ts
  cypress/e2e/po/pages/cluster-manager/drivers/node-driver-list.po.ts
  cypress/e2e/tests/pages/manager/drivers.spec.ts
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
  cypress/e2e/tests/pages/manager/node-drivers.spec.ts
  shell/assets/translations/en-us.yaml
  shell/components/CreateDriver.vue
  shell/config/product/manager.js
  shell/config/router.js
  shell/config/types.js
  shell/dialog/DeactivateDriverDialog.vue
  shell/edit/__tests__/kontainerDriver.test.ts
  shell/edit/__tests__/nodeDriver.test.ts
  shell/edit/kontainerDriver.vue
  shell/edit/nodeDriver.vue
  shell/models/driver.js
  shell/models/kontainerdriver.js
  shell/models/nodedriver.js
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/_id.vue
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/create.vue
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/index.vue
  shell/pages/c/_cluster/manager/drivers/nodeDriver/_id.vue
  shell/pages/c/_cluster/manager/drivers/nodeDriver/create.vue
  shell/pages/c/_cluster/manager/drivers/nodeDriver/index.vue
  shell/utils/validators/formRules/__tests__/index.test.ts
  shell/utils/validators/formRules/index.ts
Labels: QA/manual-test
