Repository rancher/dashboard, pull requests merged in 2024-09, with the labels that each got.

#11779 Don't provide default slot to `CruResourceFooter`
  shell/components/CruResource.vue
Labels: area/vue3

#11745 Fixed configmaps not creating
  cypress/e2e/po/pages/explorer/config-map.po.ts
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  shell/edit/configmap.vue
Labels: QA/dev-automation

#11813 Bump Shell 3.0.0-rc.1
  creators/extension/package.json
  shell/package.json
Labels: area/extensions, QA/None

#11805 [Automation] - Forcing use of node 16 for branches 2.9 and below. Bump kubectl client
  cypress/jenkins/Dockerfile.ci
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#11820 Update publish-shell workflow with corepack
  .github/workflows/release-shell-pkg.yaml
  .github/workflows/scripts/check-package-tag-version.sh
Labels: area/extensions, QA/None

#11824 Fix problematic boolean attributes
  pkg/harvester-manager/list/harvesterhci.io.management.cluster.vue
  shell/components/ActionMenu.vue
  shell/pages/c/_cluster/istio/index.vue
  shell/pages/c/_cluster/monitoring/index.vue
Labels: area/vue3

#11788 Resolve issues with workload pod storage
  shell/components/ButtonDropdown.vue
  shell/components/CruResource.vue
  shell/components/form/ArrayList.vue
  shell/components/form/ArrayListGrouped.vue
  shell/edit/workload/storage/index.vue
Labels: area/vue3

#11803 Fixed edit as yaml not working
  cypress/e2e/po/components/policy/network-policy.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/po/edit/ingress.po.ts
  cypress/e2e/po/edit/persistent-volumes.po.ts
  cypress/e2e/po/edit/pod-security-admissions.po.ts
  cypress/e2e/po/edit/storage-classes.po.ts
  cypress/e2e/po/pages/explorer/ingress.po.ts
  cypress/e2e/po/pages/explorer/persistent-volumes.po.ts
  cypress/e2e/po/pages/explorer/storage-classes.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/tests/pages/explorer/policy/network-policy.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/persistent-volumes.spec.ts
  cypress/e2e/tests/pages/explorer2/storage/storage-classes.spec.ts
  cypress/e2e/tests/pages/fleet/cluster-groups.spec.ts
  cypress/e2e/tests/pages/manager/pod-security-admissions.spec.ts
  shell/edit/fleet.cattle.io.clustergroup.vue
  shell/edit/management.cattle.io.fleetworkspace.vue
  shell/edit/management.cattle.io.node.vue
  shell/edit/management.cattle.io.podsecurityadmissionconfigurationtemplate.vue
  shell/edit/namespace.vue
  shell/edit/networking.k8s.io.ingress/index.vue
  shell/edit/networking.k8s.io.networkpolicy/index.vue
  shell/edit/node.vue
  shell/edit/persistentvolume/index.vue
  shell/edit/persistentvolumeclaim.vue
  shell/edit/policy.poddisruptionbudget.vue
  shell/edit/service.vue
  shell/edit/serviceaccount.vue
  shell/edit/storage.k8s.io.storageclass/index.vue
Labels: area/vue3

#11861 fix if statement in init script
  cypress/jenkins/init.sh
Labels: area/e2e

#11869 Fix select issues
  shell/components/auth/AllowedPrincipals.vue
  shell/components/auth/SelectPrincipal.vue
  shell/components/form/LabeledSelect.vue
Labels: area/vue3

#11863 Adding in some fixes for extensions in vue3
  package.json
  shell/core/plugin-routes.ts
  shell/core/plugins-loader.js
  yarn.lock
Labels: area/vue3

#11921 [Automation] - Fixing typo and do not deploy Rancher when existing is used and init cluster is yes
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#11880 Fix Tooltip and Dropdown issues
  pkg/rancher-components/src/components/LabeledTooltip/LabeledTooltip.vue
  shell/assets/styles/global/_layout.scss
  shell/assets/styles/global/_tooltip.scss
  shell/components/ActionDropdown.vue
  shell/components/LocaleSelector.vue
  shell/components/auth/SelectPrincipal.vue
  shell/components/fleet/FleetStatus.vue
  shell/components/formatter/AppSummaryGraph.vue
  shell/components/formatter/FleetSummaryGraph.vue
  shell/components/formatter/MachineSummaryGraph.vue
  shell/components/formatter/Scale.vue
  shell/components/formatter/Weight.vue
  shell/components/nav/NamespaceFilter.vue
  shell/components/nav/TopLevelMenu.vue
  shell/components/nav/WindowManager/ContainerLogs.vue
  shell/detail/helm.cattle.io.projecthelmchart.vue
Labels: area/vue3

#11891 Fix import yaml's dropdown styling
  shell/components/Import.vue
Labels: area/vue3

#11935 [Automation] - Add the Automation Status as "Automated" to UI Cases
  cypress/jenkins/junit_to_qase.py
Labels: area/ci

#11963 Break a circular dependency
  shell/edit/auth/ldap/config.vue
  shell/edit/auth/saml.vue
Labels: area/vue3

#11962 Fix InstallCodeMirror export
  package.json
  shell/initialize/install-plugins.js
  shell/package.json
  shell/yarn.lock
  yarn.lock
Labels: kind/bug, area/vue3

#11973 ContainerShell window manager fixes
  package.json
  shell/components/CodeMirror.vue
  shell/components/nav/WindowManager/ContainerShell.vue
  shell/initialize/install-plugins.js
  shell/package.json
  yarn.lock
Labels: kind/bug, dependencies, area/vue3

#11688 [Automation] - Additional user retention settings tests
  cypress/e2e/tests/pages/users-and-auth/index.spec.ts
  cypress/support/commands/commands.ts
Labels: area/authentication, QA/dev-automation

#12008 Adding missing emits values to sortable table
  shell/components/SortableTable/index.vue
Labels: area/vue3

#11986 Ensure fetch is not called when navigating backwards
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  shell/pages/c/_cluster/apps/charts/chart.vue
  shell/pages/c/_cluster/apps/charts/install.vue
Labels: kind/bug, area/vue3

#11877 add support for additional rancher helm repos
  cypress/jenkins/init.sh
Labels: area/e2e

#12041 [UI] - Adding logic to enable init.sh execution on Alpine Linux
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#12024 Allow users to specify that an array list is required
  shell/components/form/ArrayList.vue
Labels: area/vue3

#12015 Vue3: Fixed navigation active style not applied
  cypress/e2e/tests/navigation/side-nav/product-side-nav.spec.ts
  shell/components/nav/Type.vue
  shell/components/nav/__tests__/Type.test.ts
Labels: QA/dev-automation

#12021 Adding translation for OVHCloud Managed Kubernetes Service
  shell/assets/translations/en-us.yaml
  shell/assets/translations/zh-hans.yaml
Labels: area/cluster, JIRA
