Repository rancher/dashboard, pull requests merged in 2024-07, with the labels that each got.

#11326 Switch context for generic oidc provider to the genericOIDCConfig type
  shell/assets/translations/en-us.yaml
  shell/config/product/auth.js
  shell/edit/auth/__tests__/oidc.test.ts
  shell/mixins/auth-config.js
  shell/models/management.cattle.io.authconfig.js
  shell/store/auth.js
  shell/utils/auth.js
Labels: area/authentication

#11316 [FIX] Fixed some issues with driver pages
  cypress/e2e/tests/pages/manager/kontainer-drivers.spec.ts
  cypress/e2e/tests/pages/manager/node-drivers.spec.ts
  shell/assets/translations/en-us.yaml
  shell/dialog/DeactivateDriverDialog.vue
  shell/models/driver.js
  shell/models/kontainerdriver.js
  shell/models/nodedriver.js
  shell/pages/c/_cluster/manager/drivers/kontainerDriver/index.vue
  shell/pages/c/_cluster/manager/drivers/nodeDriver/index.vue
Labels: kind/bug

#11257 vai pagination tests - tokens
  cypress/e2e/blueprints/account-and-apikeys/tokens-get.ts
  cypress/e2e/blueprints/explorer/cluster/events.ts
  cypress/e2e/po/pages/account-api-keys.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/events.spec.ts
  cypress/e2e/tests/pages/explorer/namespace-picker.spec.ts
  cypress/e2e/tests/pages/explorer/workloads/pods.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: area/e2e

#11377 update node version on workflows
  .github/workflows/check-plugins.yaml
  .github/workflows/storybook.yaml
  cypress/e2e/tests/pages/generic/about.spec.ts
  shell/creators/app/app.package.json
  shell/package.json
  storybook/package.json
Labels: kind/bug

#11337 vai pagination tests - CustomResourceDefinitions
  cypress/e2e/blueprints/explorer/more-resources/api/custom-resource-definition-get.ts
  cypress/e2e/blueprints/explorer/more-resources/api/custom-resource-definition.yml
  cypress/e2e/po/edit/custom-resource-definitions.po.ts
  cypress/e2e/po/pages/explorer/custom-resource-definitions.po.ts
  cypress/e2e/tests/pages/explorer/more-resources/api/custom-resource-definitions.spec.ts
Labels: area/e2e

#11353 vai pagination tests - role templates and users
  cypress/e2e/blueprints/roles/global-roles-get.ts
  cypress/e2e/blueprints/users/users-get.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/pages/users-and-auth/roles.po.ts
  cypress/e2e/po/pages/users-and-auth/users.po.ts
  cypress/e2e/tests/pages/explorer/dashboard/events.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  cypress/e2e/tests/pages/users-and-auth/roles.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: area/e2e

#11403 vai pagination test - Fleet Workspaces
  cypress/e2e/blueprints/fleet/workspaces-get.ts
  cypress/e2e/po/detail/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/po/lists/fleet/fleet.cattle.io.workspace.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.fleetworkspace.po.ts
  cypress/e2e/tests/pages/fleet/advanced/workspaces.spec.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: area/e2e

#11448 encompass 'head' string as condition to allow installation of extension in dev builds
  shell/config/uiplugins.js
Labels: kind/bug, status/release-blocker

#11450 [FIX] Changed JWT Authentication page to disable ClusterProxyConfigs
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
  shell/pages/c/_cluster/manager/jwt.authentication/index.vue
  shell/plugins/steve/__tests__/getters.test.ts
  shell/plugins/steve/getters.js
Labels: QA/dev-automation

#11354 Replace `cookie-universal-nuxt` dependency
  package.json
  shell/initialize/install-plugins.js
  shell/package.json
  shell/utils/cookie-universal.js
  yarn.lock
Labels: kind/tech-debt
