Repository rancher/dashboard, pull requests merged in 2025-04, with the labels that each got.

#13961 [Docs] Add docs on how to customize a product menu entry
  docusaurus/docs/extensions/api/nav/side-menu.md
Labels: area/documentation, QA/None

#14063 update imported cluster tests
  cypress/e2e/po/extensions/imported/cluster-edit.po.ts
  cypress/e2e/po/extensions/imported/cluster-import-generic.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
Labels: area/e2e

#14047 automation: group by namespace feature test
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/cluster-create-import.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/po/prompts/shared/promptInstances.po.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
  cypress/e2e/tests/pages/manager/cluster-list.spec.ts
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
  cypress/e2e/tests/priority/vai-setup.spec.ts
Labels: area/e2e

#13839 Add internal api scaffolding and documentation
  docusaurus/docs/internal/code-base-works/internal-dashboard-api.md
  docusaurus/internalSidebar.js
  shell/initialize/install-plugins.js
  shell/plugins/internal-api/index.ts
  shell/plugins/internal-api/shared/base-api.ts
  shell/scripts/typegen.sh
  shell/types/global-vue.d.ts
  shell/types/vue-shim.d
Labels: kind/enhancement, area/extensions

#14127 Update Kubewarden side-menu item name
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Labels: kind/bug, area/e2e

#14054 Remove deleted props from tooltips
  shell/components/nav/TopLevelMenu.vue
Labels: status/dev-validate

#14132 [Backport 2.11] Update Kubewarden side-menu item name
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Labels: kind/bug, area/e2e

#13840 Initial `$shell` api - add `ModalManager` and `SlideInPanelManager`
  shell/components/GrowlManager.vue
  shell/components/ModalManager.vue
  shell/components/SlideInPanelManager.vue
  shell/components/__tests__/ModalManager.spec.ts
  shell/components/__tests__/SlideInPanelManager.spec.ts
  shell/components/templates/default.vue
  shell/components/templates/home.vue
  shell/components/templates/plain.vue
  shell/config/store.js
  shell/plugins/internal-api/shell/shell.api.ts
  shell/public/index.html
  shell/store/modal.ts
  shell/store/slideInPanel.ts
  shell/types/internal-api/shell/growl.d.ts
  shell/types/internal-api/shell/modal.d.ts
  shell/types/internal-api/shell/slideIn.d.ts
  shell/types/vue-shim.d.ts
Labels: kind/enhancement

#13236 Incorporate compressedEndpoint property into extension charts
  shell/config/uiplugins.js
  shell/scripts/extension/bundle
  shell/scripts/extension/helm/charts/ui-plugin-server/templates/cr.yaml
  shell/scripts/extension/helm/charts/ui-plugin-server/values.yaml
  shell/scripts/extension/helmpatch
  shell/scripts/extension/publish
Labels: area/extensions

#14188 AKS-Allow version upgrade only from current version to > 1 minor version
  pkg/aks/components/Config.vue
  pkg/aks/components/__tests__/Config.test.ts
  pkg/aks/l10n/en-us.yaml
Labels: area/aks

#14174 automation: add to logging, cluster-tools, and pods test suite
  cypress/e2e/po/components/component.po.ts
  cypress/e2e/po/components/env-variable.po.ts
  cypress/e2e/po/components/kubectl.po.ts
  cypress/e2e/po/components/shared-components/shared-components.po.ts
  cypress/e2e/po/components/sortable-table.po.ts
  cypress/e2e/po/components/workloads/pod.po.ts
  cypress/e2e/po/lists/chart-installed-apps.po.ts
  cypress/e2e/po/pages/chart-installed-apps.po.ts
  cypress/e2e/po/pages/explorer/cluster-tools.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/prompts/promptRemove.po.ts
  cypress/e2e/tests/pages/charts/cis-benchmark.spec.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  cypress/e2e/tests/pages/explorer2/cluster-tools.spec.ts
  cypress/e2e/tests/pages/explorer2/workloads/pods.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/manager/repositories.spec.ts
  cypress/e2e/tests/pages/user-menu/preferences.spec.ts
  cypress/support/utils/api-endpoints.ts
Labels: area/e2e

#14213 Enabling stalebot
  .github/workflows/close-stale-enhancement-requests.yaml
Labels: QA/None
