Repository rancher/dashboard, pull requests merged in 2025-03, with the labels that each got.

#13567 [FEAT] Option to disable version management for imported cluster
  pkg/imported/components/Basics.vue
  pkg/imported/components/CruImported.vue
  pkg/imported/components/VersionManagement.vue
  pkg/imported/l10n/en-us.yaml
  pkg/imported/util/shared.ts
  shell/assets/translations/en-us.yaml
  shell/config/labels-annotations.js
  shell/config/settings.ts
Labels: QA/manual-test

#13521 [FEAT] Added PDB AND PC support for cluster agent
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  pkg/imported/components/CruImported.vue
  pkg/rancher-components/src/components/Form/Checkbox/Checkbox.vue
  shell/assets/translations/en-us.yaml
  shell/components/Setting.vue
  shell/components/form/SchedulingCustomization.vue
  shell/config/features.js
  shell/config/settings.ts
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/edit/provisioning.cattle.io.cluster/tabs/AgentConfiguration.vue
  shell/list/management.cattle.io.setting.vue
  shell/store/features.js
Labels: QA/manual-test

#13558 fix flaky harvester test p2
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Labels: area/e2e

#13577 Add unit tests for RcButton
  pkg/rancher-components/src/components/RcButton/RcButton.test.ts
Labels: status/dev-validate

#13494 add more accessibility tests
  cypress/e2e/po/components/toggle-switch.po.ts
  cypress/e2e/po/edit/chart-repositories.po.ts
  cypress/e2e/po/edit/pod-security-admissions.po.ts
  cypress/e2e/po/pages/account-api-keys.po.ts
  cypress/e2e/po/pages/global-settings/settings.po.ts
  cypress/e2e/po/pages/login-page.po.ts
  cypress/e2e/po/side-bars/burger-side-menu.po.ts
  cypress/e2e/po/side-bars/user-menu.po.ts
  cypress/e2e/tests/accessibility/shell.spec.ts
  cypress/support/commands/accessiblity.ts
  package.json
  shell/components/PromptChangePassword.vue
  shell/components/nav/Header.vue
  yarn.lock
Labels: area/e2e

#13928 Fix Decoding secret of e2e GKE cluster provisioning test
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
Labels: area/e2e, area/gke
