Repository rancher/dashboard, pull requests merged in 2025-09, with the labels that each got.

#15271 Prevent `pr-gh-project` from updating milestone for backport PRs raised by the bot
  .github/workflows/port-pr.yaml
  .github/workflows/scripts/pr-gh-project.js
Labels: status/dev-validate, QA/None

#15146 Implement the Tag component as defined by the DS system
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.test.ts
  pkg/rancher-components/src/components/Pill/RcTag/RcTag.vue
  pkg/rancher-components/src/components/Pill/RcTag/index.ts
  pkg/rancher-components/src/components/Pill/RcTag/types.ts
  shell/assets/styles/base/_color.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/styles/themes/_modern.scss
  storybook/src/stories/Components/Pill/RcTag.mdx
  storybook/src/stories/Components/Pill/RcTag.stories.ts
Labels: QA/None

#15352 Fixing the storybook theme to work with the changes to the dashboard themes
  storybook/.storybook/main.ts
  storybook/.storybook/preview.ts
  storybook/package.json
  storybook/src/assets/style.scss
  storybook/yarn.lock
Labels: QA/None

#15245 Added providing credentials from extension
  shell/core/extension-manager-impl.js
  shell/edit/cloudcredential.vue
  shell/edit/provisioning.cattle.io.cluster/index.vue
  shell/types/extension-manager.ts
Labels: QA/manual-test

#15446 Fixed adding a new machine pool to existing GCE instance
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/machine-config/components/GCEImage.vue
  shell/machine-config/google.vue
Labels: QA/manual-test

#15490 chore: bump shell version to 3.0.5-rc.9
  shell/package.json
Labels: QA/None

#15420 Limit the scenarios that the Storybook workflow runs
  .github/workflows/storybook.yaml
Labels: QA/None

#15511 bump shell version to 3.0.5
  shell/package.json
Labels: QA/None
