Repository rancher/dashboard, pull requests merged in 2025-06, with the labels that each got.

#14444 Update caniuselite
  yarn.lock
Labels: dependencies, QA/None, area/dependencies

#14463 Separated creating new namespace from createNamespace check
  shell/components/CruResource.vue
Labels: QA/manual-test

#14440 Add description formatter
  shell/components/ExplorerProjectsNamespaces.vue
  shell/components/formatter/Description.vue
  shell/config/table-headers.js
Labels: QA/None

#14435 [Automation] Vai: Add Ingress tests
  cypress/e2e/po/components/array-list.po.ts
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/ingress.po.ts
  cypress/e2e/po/pages/explorer/ingress.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/ingress.spec.ts
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  cypress/e2e/tests/pages/fleet/advanced/workspaces.spec.ts
  cypress/e2e/tests/pages/fleet/gitrepo.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: QA/None, area/e2e

#14494 SSP: Disable SSP for side nav and home page cluster list
  shell/plugins/steve/steve-pagination-utils.ts
Labels: QA/None

#14488 Automation - Adding a test to check the Resource UI elements in the Chart Wizard
  cypress/e2e/po/pages/explorer/charts/install-charts.po.ts
  cypress/e2e/tests/pages/charts/chart-install-wizard.spec.ts
Labels: QA/None, QA/dev-automation

#14491 Add the card components necessary for the new detail page
  jest.config.js
  jest.setup.js
  shell/assets/styles/app.scss
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/base/_spacing.scss
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/assets/translations/en-us.yaml
  shell/components/Resource/Detail/Card/PodsCard/Bubble.vue
  shell/components/Resource/Detail/Card/PodsCard/composable.ts
  shell/components/Resource/Detail/Card/PodsCard/index.vue
  shell/components/Resource/Detail/Card/ResourceUsageCard/composable.ts
  shell/components/Resource/Detail/Card/ResourceUsageCard/index.vue
  shell/components/Resource/Detail/Card/Scaler.vue
  shell/components/Resource/Detail/Card/StateCard/composables.ts
  shell/components/Resource/Detail/Card/StateCard/index.vue
  shell/components/Resource/Detail/Card/VerticalGap.vue
  shell/components/Resource/Detail/Card/__tests__/Card.test.ts
  shell/components/Resource/Detail/Card/__tests__/PodsCard.test.ts
  shell/components/Resource/Detail/Card/__tests__/ResourceUsageCard.test.ts
  shell/components/Resource/Detail/Card/__tests__/Scaler.test.ts
  shell/components/Resource/Detail/Card/__tests__/StateCard.test.ts
  shell/components/Resource/Detail/Card/__tests__/VerticalGap.test.ts
  shell/components/Resource/Detail/Card/index.vue
  shell/components/Resource/Detail/PercentageBar.vue
  shell/components/Resource/Detail/ResourceRow.vue
  shell/components/Resource/Detail/SpacedRow.vue
  shell/components/Resource/Detail/StatusBar.vue
  shell/components/Resource/Detail/StatusRow.vue
  shell/components/StatusBadge.vue
  shell/components/SubtleLink.vue
  shell/composables/useI18n.ts
  shell/config/secret.ts
  shell/utils/style.ts
Labels: QA/None

#14477 Minor tweaks to cloud update script and GH workflow script
  .github/workflows/scripts/update-cloud-data.sh
  scripts/azure/update-data
Labels: QA/None

#14531 Disable VAI on test for CRD resource
  cypress/e2e/tests/pages/explorer/more-resources/api/custom-resource-definitions.spec.ts
Labels: QA/None

#14541 Bump shell/package version to 3.0.5-rc.4
  shell/package.json
Labels: QA/None

#14604 Fleet fix slide-in Resource Details style
  shell/components/fleet/dashboard/ResourceDetails.vue
  shell/components/formatter/FleetApplicationSource.vue
Labels: QA/None

#14616 Technical interview
  pkg/technical-interview/babel.config.js
  pkg/technical-interview/config/tech-interview.ts
  pkg/technical-interview/index.ts
  pkg/technical-interview/l10n/en-us.yaml
  pkg/technical-interview/package.json
  pkg/technical-interview/pages/tab-page.vue
  pkg/technical-interview/routing/interview-routing.ts
  pkg/technical-interview/tsconfig.json
  pkg/technical-interview/vue.config.js
Labels: QA/None

#14609 Adding a quick fix to allow showing graph view option for fleet
  shell/components/Resource/Detail/TitleBar/__tests__/composables.test.ts
  shell/components/Resource/Detail/TitleBar/composables.ts
  shell/components/Resource/Detail/TitleBar/index.vue
Labels: QA/None
