Repository rancher/dashboard, pull requests merged in 2025-01, with the labels that each got.

#12983 automation: fleet dashboard tests
  cypress/e2e/po/components/header.po.ts
  cypress/e2e/po/edit/fleet/gitrepo-edit.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
  cypress/support/types/menu-actions.ts
Labels: area/e2e

#13032 Update extension gitlab workflow node version
  docusaurus/docs/extensions/publishing.md
  docusaurus/extensions_versioned_docs/version-v2/publishing.md
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Labels: area/extensions, status/backport-candidate, creator

#13033 [2.9] Align gitlab reusable workflow with release-2.9
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/package.json
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Labels: area/extensions, creator

#13034 [2.8] Align gitlab resuable workflow with release-2.8
  creators/extension/app/files/.gitlab-ci.yml
  creators/extension/package.json
  shell/scripts/.gitlab/workflows/build-extension-catalog.gitlab-ci.yml
Labels: area/extensions, creator

#13079 Typo in Extensions workflows test outputs
  .github/workflows/test-extension-workflows-master.yml
  .github/workflows/test-extension-workflows-release-2.8.yml
  .github/workflows/test-extension-workflows-release-2.9.yml
Labels: area/extensions, QA/None

#13078 Return the old path when `next` is missing from the url
  docusaurus/docusaurus.config.js
Labels: kind/enhancement, area/extensions, QA/None

#13051 Allow HMR in Rancher Components and Harvester
  shell/vue.config.js
Labels: status/dev-validate

#12921 adding data-testid to mandatory GKE elements for e2e tests locators
  pkg/gke/components/CruGKE.vue
Labels: QA/dev-automation, area/gke

#13088 automation: fleet cluster groups tests
  cypress/e2e/po/components/create-edit-view.po.ts
  cypress/e2e/po/edit/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/po/pages/fleet/fleet.cattle.io.clustergroup.po.ts
  cypress/e2e/tests/pages/fleet/cluster-groups.spec.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
Labels: area/e2e

#13131 automation: fix flaky tests based on jenkins failures
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  cypress/e2e/tests/pages/explorer/apps/repositories.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
Labels: area/e2e

#13113 automation: add step to ensure aks is enabled
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: area/e2e

#13087 Add GKE credential to jenkinsfile
  cypress/jenkins/Jenkinsfile
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/jenkins/init.sh
Labels: area/e2e, area/gke

#13194 [UI] - Adding CIS chart UI tests
  cypress/e2e/po/other-products/cis-benchmark.po.ts
  cypress/e2e/tests/pages/charts/cis-benchmark.spec.ts
Labels: QA/dev-automation
