Repository rancher/dashboard, pull requests merged in 2025-08, with the labels that each got.

#14962 [Automation]: Add missing cypress-terminal-report plugin to Jenkins config
  cypress/jenkins/cypress.config.jenkins.ts
Labels: QA/None

#15001 [2.11] Migrate to staging registry for e2e tests
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
  package.json
  scripts/e2e-docker-start
Labels: status/dev-validate, QA/None

#15019 Update backport bot secrets to match `pr-gh-project.yaml`
  .github/workflows/port-issue.yaml
  .github/workflows/port-pr.yaml
Labels: status/dev-validate, QA/None

#15033 Update permissions for port-pr workflow
  .github/workflows/port-pr.yaml
Labels: status/dev-validate, QA/None

#15002 [Backport][Automation]: Add missing cypress-terminal-report plugin to Jenkins config
  cypress/jenkins/cypress.config.jenkins.ts
Labels: QA/None

#15074 Update global git user in `port-pr`
  .github/workflows/port-pr.yaml
Labels: status/dev-validate, QA/None

#15093 Update secret path for port-pr workflow
  .github/workflows/port-pr.yaml
Labels: status/dev-validate, QA/None

#14889 Implements the status badge as defined in the design system
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.test.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/RcStatusBadge.vue
  pkg/rancher-components/src/components/Pill/RcStatusBadge/index.ts
  pkg/rancher-components/src/components/Pill/RcStatusBadge/types.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/RcStatusIndicator.test.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/index.ts
  pkg/rancher-components/src/components/Pill/RcStatusIndicator/types.ts
  pkg/rancher-components/src/components/Pill/types.ts
  shell/assets/styles/base/_color.scss
  shell/assets/styles/themes/_light.scss
  storybook/src/stories/Components/Pill/RcStatusBadge.mdx
  storybook/src/stories/Components/Pill/RcStatusBadge.stories.ts
  storybook/src/stories/Components/Pill/RcStatusIndicator.mdx
  storybook/src/stories/Components/Pill/RcStatusIndicator.stories.ts
  storybook/src/stories/Components/Pill/StatusIndicator.mdx
Labels: QA/None

#15076 Remove the concept of legacy/latest detail pages
  shell/assets/styles/base/_variables.scss
  shell/assets/styles/global/_layout.scss
  shell/components/Resource/Detail/Page.vue
  shell/components/ResourceDetail/__tests__/index.test.ts
  shell/components/ResourceDetail/index.vue
  shell/components/ResourceDetail/legacy.vue
  shell/detail/configmap.vue
  shell/detail/projectsecret.vue
  shell/detail/secret.vue
  shell/models/configmap.js
  shell/models/secret.js
  shell/pages/c/_cluster/explorer/projectsecret.vue
  shell/pages/explorer/resource/detail/configmap.vue
  shell/pages/explorer/resource/detail/projectsecret.vue
  shell/pages/explorer/resource/detail/secret.vue
Labels: QA/None

#15107 Authenticate gh cli with token
  .github/workflows/port-pr-bot.yaml
Labels: status/dev-validate, QA/None

#15114 Pass the `APP_TOKEN` environment variable to `gh auth login`
  .github/workflows/port-pr-bot.yaml
Labels: status/dev-validate, QA/None

#15119 Add `GH_TOKEN` to `port-pr-bot` workflow
  .github/workflows/port-pr-bot.yaml
Labels: status/dev-validate, QA/None

#15129 Add a workflow to update the Rancher version used for e2e tests when a release branch is created
  .github/workflows/update-e2e-rancher-version.yml
  scripts/update-e2e-rancher-version.sh
Labels: status/dev-validate, QA/None, QA/dev-automation

#15188 Fixed radiobutton when enabling and disabling automatic backups
  shell/edit/provisioning.cattle.io.cluster/tabs/etcd/index.vue
Labels: QA/None

#15192 chore: bump shell version to 3.0.5-rc.8
  shell/package.json
Labels: QA/None

#14854 Improve e2e tests, add but don't use K3S scripts
  .github/workflows/test.yaml
  cypress/e2e/blueprints/global_settings/settings-data.ts
  cypress/e2e/po/pages/explorer/workloads.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads-deployments.po.ts
  cypress/e2e/po/pages/explorer/workloads/workloads.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/tests/pages/charts/rancher-backup.spec.ts
  cypress/e2e/tests/pages/explorer/dashboard/cluster-dashboard.spec.ts
  cypress/e2e/tests/pages/explorer/more-resources/api/custom-resource-definitions.spec.ts
  cypress/e2e/tests/pages/explorer2/cluster-tools.spec.ts
  cypress/e2e/tests/pages/extensions/kubewarden.spec.ts
  cypress/e2e/tests/pages/global-settings/settings-p2.spec.ts
  cypress/e2e/tests/pages/global-settings/settings.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/e2e.ts
  cypress/support/utils/api-endpoints.ts
  package.json
  scripts/e2e-docker-start
  scripts/e2e-k3s-logs
  scripts/e2e-k3s-start
Labels: QA/None

#14536 [Automation]: Re-enable Monitoring/Istio tests and add storage options test
  cypress/e2e/blueprints/charts/prometheus-chart.ts
  cypress/e2e/po/components/checkbox-input.po.ts
  cypress/e2e/po/components/radio-group-input.po.ts
  cypress/e2e/po/other-products/logging/logging-clusterflow.po.ts
  cypress/e2e/po/pages/explorer/charts/chart.po.ts
  cypress/e2e/po/pages/explorer/charts/tabs/alerting-tab.po.ts
  cypress/e2e/po/pages/explorer/charts/tabs/grafana-tab.po.ts
  cypress/e2e/po/pages/explorer/charts/tabs/istio-tab.po.ts
  cypress/e2e/tests/pages/charts/logging.spec.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  shell/chart/monitoring/grafana/index.vue
Labels: QA/None, area/e2e
