Repository rancher/dashboard, pull requests merged in 2025-02, with the labels that each got.

#13152 automation: services - external name tests
  cypress/e2e/po/components/growl-manager.po.ts
  cypress/e2e/po/components/key-value.po.ts
  cypress/e2e/po/components/tabbed.po.ts
  cypress/e2e/po/edit/resource-detail.po.ts
  cypress/e2e/po/edit/services.po.ts
  cypress/e2e/po/pages/explorer/services.po.ts
  cypress/e2e/po/pages/extensions.po.ts
  cypress/e2e/po/pages/global-settings/home-links.po.ts
  cypress/e2e/tests/pages/explorer/service-discovery/services.spec.ts
  cypress/e2e/tests/pages/extensions/extensions.spec.ts
  shell/components/form/KeyValue.vue
  shell/components/form/__tests__/KeyValue.test.ts
Labels: QA/dev-automation, area/e2e

#13210 automation: add coverage for labeledinput using v-model.value.number
  cypress/e2e/po/components/component.po.ts
  cypress/e2e/po/edit/policy/network-policy.po.ts
  cypress/e2e/po/pages/explorer/network-policy.po.ts
  cypress/e2e/po/pages/global-settings/performance.po.ts
  cypress/e2e/tests/pages/explorer/policy/network-policy.spec.ts
  cypress/e2e/tests/pages/global-settings/performance.spec.ts
Labels: area/e2e

#13278 Add focus ring to tertiary buttons
  shell/assets/styles/base/_basic.scss
  shell/assets/styles/global/_button.scss
Labels: status/dev-validate

#12934 e2e test that creates GKE cluster with default settings
  cypress.config.ts
  cypress/e2e/po/components/button-file-selector.po.ts
  cypress/e2e/po/edit/cloud-credentials-gke.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-gke.po.ts
  cypress/e2e/tests/pages/manager/gke-cluster-provisioning.spec.ts
  pkg/gke/components/CruGKE.vue
Labels: area/e2e, area/gke

#13356 Fixed scroller appearing provisioning masthead
  shell/components/ResourceDetail/Masthead.vue
Labels: QA/manual-test

#13330 Support for Custom RKE1
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create-rke1-custom.po.ts
  cypress/e2e/po/edit/provisioning.cattle.io.cluster/create/cluster-create.po.ts
  cypress/e2e/tests/pages/manager/cluster-manager.spec.ts
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/jenkins/cypress.sh
  cypress/jenkins/init.sh
Labels: area/ci, QA/dev-automation

#13363 automation: harvester tests
  .github/workflows/test.yaml
  cypress/e2e/po/pages/virtualization-mgmt/harvester-clusters.po.ts
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
  cypress/e2e/tests/setup/rancher-setup.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
  cypress/support/utils/api-endpoints.ts
Labels: area/e2e

#13289 Websocket migration
  cypress.config.ts
  cypress/e2e/tests/pages/explorer/dashboard/websockets/connection.spec.ts
  cypress/globals.d.ts
  cypress/jenkins/cypress.config.jenkins.ts
  cypress/support/commands/chainable.ts
  cypress/support/utils/webSocket-utils.ts
  package.json
  yarn.lock
Labels: QA/dev-automation

#13536 fix flaky harvester test
  cypress/e2e/tests/pages/virtualization-mgmt/harvester.spec.ts
Labels: area/e2e
