Repository rancher/dashboard, pull requests merged in 2025-07, with the labels that each got.

#14634 Automation ConfigMaps pagination tests
  cypress/e2e/tests/pages/explorer2/storage/configmap.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: QA/dev-automation

#14664 Fix logging e2e test and other improvements
  cypress/e2e/po/side-bars/product-side-nav.po.ts
  cypress/e2e/tests/pages/charts/monitoring-istio.spec.ts
  cypress/e2e/tests/pages/charts/v2-monitoring.spec.ts
  cypress/e2e/tests/pages/fleet/resources/bundle-namespace-mappings.spec.ts
  cypress/e2e/tests/pages/fleet/resources/bundles.spec.ts
  cypress/e2e/tests/pages/fleet/resources/cluster-registration-tokens.spec.ts
  cypress/e2e/tests/pages/fleet/resources/gitrepo-restrictions.spec.ts
  cypress/e2e/tests/pages/manager/agent-configuration-rke2.spec.ts
  cypress/e2e/tests/pages/manager/node-drivers.spec.ts
  cypress/e2e/tests/pages/manager/pod-security-policy-templates.spec.ts
  cypress/e2e/tests/pages/user-menu/account-api-keys.spec.ts
  cypress/globals.d.ts
  cypress/support/commands/rancher-api-commands.ts
Labels: QA/None

#14687 Extend Show System labels toggler to `cattle.io/`
  shell/components/form/Labels.vue
  shell/components/form/__tests__/Labels.test.ts
Labels: QA/None

#14715 Fleet dashboard refinements
  shell/pages/c/_cluster/fleet/index.vue
Labels: QA/None

#14734 update e2e test cis benchmark app name that has changed
  cypress/e2e/tests/pages/explorer/apps/charts.spec.ts
Labels: QA/None

#14747 Fleet fix dashboard class name conflicts
  shell/pages/c/_cluster/fleet/index.vue
Labels: QA/None

#14749 Fleet dashboard Card errors not fixed height, height adapted to the row
  shell/components/fleet/dashboard/ResourceCard.vue
  shell/components/fleet/dashboard/ResourceCardSummary.vue
Labels: QA/None

#14760 bump shell version to 3.0.5-rc.6
  shell/package.json
Labels: QA/None

#14744 Putting together a smattering of style fixes that were pointed out during a design review
  shell/assets/styles/themes/_dark.scss
  shell/assets/styles/themes/_light.scss
  shell/components/Resource/Detail/Metadata/IdentifyingInformation/index.vue
  shell/components/Resource/Detail/Metadata/KeyValue.vue
  shell/components/Resource/Detail/Metadata/Rectangle.vue
  shell/components/Resource/Detail/SpacedRow.vue
  shell/components/Resource/Detail/TitleBar/index.vue
  shell/components/SlideInPanelManager.vue
  shell/components/formatter/PodImages.vue
Labels: QA/None

#14789 Fleet fix badges background error color in preparation of new theme colors
  shell/components/fleet/dashboard/ResourcePanel.vue
Labels: QA/None

#14799 Use fake timers in LiveDate unit tests
  shell/components/formatter/__tests__/LiveDate.test.ts
Labels: status/dev-validate, QA/None

#14831 Remove `deleteme` file
  deleteme
Labels: QA/None

#14829 Fixed footer inconsistency for different providers
  pkg/eks/components/AccountAccess.vue
  pkg/gke/components/CruGKE.vue
  shell/components/google/AccountAccess.vue
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
Labels: QA/manual-test

#14898 Update `View Yaml` e2e test following public api change
  cypress/e2e/tests/pages/users-and-auth/users.spec.ts
Labels: QA/None

#14785 Clean up dead code in Certificate.vue and add additional unit tests
  shell/edit/networking.k8s.io.ingress/Certificate.vue
  shell/edit/networking.k8s.io.ingress/__tests__/Certificate.test.ts
Labels: status/dev-validate, QA/None, QA/dev-automation

#14910 chore: bump shell to 3.0.5-rc.7
  shell/package.json
Labels: QA/None

#14900 improve getting started and publishing docs for extensions
  docusaurus/docs/extensions/extensions-getting-started.md
  docusaurus/docs/extensions/publishing.md
  docusaurus/docs/extensions/screenshots/app-repos.png
Labels: QA/None
