Repository rancher/dashboard, pull requests merged in 2025-10, with the labels that each got.

#15507 Automation: fix fleet dashboard tests
  cypress/e2e/po/components/fleet/fleet-dashboard-workspace-card.po.ts
  cypress/e2e/po/pages/fleet/fleet-dashboard.po.ts
  cypress/e2e/tests/pages/fleet/dashboard.spec.ts
Labels: QA/None, area/e2e

#15568 [2.12] Fixed adding a new machine pool to existing GCE instance
  shell/edit/provisioning.cattle.io.cluster/rke2.vue
  shell/machine-config/components/GCEImage.vue
  shell/machine-config/google.vue
Labels: QA/manual-test

#15558 [Automation] update k8s versions support for Jenkins
  cypress/jenkins/Jenkinsfile_multi
Labels: QA/None, area/e2e

#15567 Automation: fix jwt auth tests
  cypress/e2e/po/lists/jwt-authentication-list.po.ts
  cypress/e2e/po/pages/cluster-manager/jwt-authentication.po.ts
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
Labels: QA/None, area/e2e

#15586 fix jwt auth tests p2
  cypress/e2e/tests/pages/manager/jwt-authentication.spec.ts
Labels: QA/None, area/e2e

#15544 fix: use harvester inStore to GET secret data when creating Flow on Harvester
  shell/components/form/SecretSelector.vue
Labels: QA/None

#15591 Automation: fix elemental tests
  cypress/e2e/po/pages/chart-installed-apps.po.ts
  cypress/e2e/tests/extensions/elemental/elemental.spec.ts
Labels: QA/None, area/e2e
